 <!-- ABOUT -->
 <section class="about">
     <div class="container">
         <div class="about-inner">
             <p class="about__pretitle">
                 BOOKVILLE
             </p>
             <h2 class="about__title title">
                 О нашей компании
             </h2>
             <div class="about-slider" data-mobile="false">
                 <div class="about-info">
                     <div class="about-info__text">
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                         incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                         exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat incididunt ut
                         laboret.
                     </div>
                     <div class="about-info__text">
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                         incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                         exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat incididunt ut
                         laboret.
                     </div>
                 </div>
                 <div class="about-pagintion swiper-pagination"></div>
             </div>
         </div>
     </div>
 </section>
 <!-- / ABOUT -->