<!-- FOOTER -->
<footer class="footer">
    <div class="container">

        <div class="footer__inner">

            <div class="footer__logo">
                <a class="logo" href="index.html" aria-label="logo">
                    <img class="logo__img" src="images/content/logo.webp" alt="logo" loading="lazy">
                </a>
            </div>

            <nav class="footer__menu">
                <ul class="footer__menu-list">

                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="about.html" aria-label="footer menu">
                            О нас
                        </a>
                    </li>

                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="events.html" aria-label="footer menu">
                            Мероприятия
                        </a>
                    </li>

                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="sales.html" aria-label="footer menu">
                            Скидки
                        </a>
                    </li>

                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="delivery.html" aria-label="footer menu">
                            Доставка и оплата
                        </a>
                    </li>

                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="blog.html" aria-label="footer menu">
                            Блог
                        </a>
                    </li>

                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="contact.html" aria-label="footer menu">
                            Контакты
                        </a>
                    </li>

                </ul>
            </nav>

            <div class="footer__phone">
                <a href="tel:79991400000" class="phone" aria-label="phone">
                    +7 999 140 00 00
                </a>
            </div>
            
        </div>

    </div>
</footer>
<!-- / FOOTER -->