<!-- INTRO  -->
<section class="intro">
    <div class="container">
        <div class="intro-wrapper">
            <div class="intro-slider">
                <div class="intro-items">
                    <div class="intro-item">
                        <img class="intro-item__img" src="images/content/intro-img.jpg" alt="intro img">
                    </div>
                    <div class="intro-item">
                        <img class="intro-item__img" src="images/content/intro-img-1.jpg" alt="intro img">
                    </div>
                    <div class="intro-item">
                        <img class="intro-item__img" src="images/content/intro-img-2.jpg" alt="intro img">
                    </div>
                </div>
                <div class="intro-slider-next"></div>
                <div class="intro-slider-prev"></div>
            </div>
            <button class="intro__btn" aria-label="intro btn">
                <span class="intro__btn-text">
                    перейти в каталог
                </span> 
            </button>
        </div>
    </div>
</section>
<!-- / INTRO  -->