<!-- INTRO  -->
<section class="intro">
    <div class="container">
        <div class="intro__wrapper">

            <h2 class="intro__title" hidden>
                Перейти в каталог
            </h2>

            <div class="intro__slider">

                <div class="intro__items">

                    <div class="intro__item">
                        <img class="intro__item-img" src="./images/content/intro-img.webp" alt="intro photo" loading="lazy">
                    </div>

                    <div class="intro__item">
                        <img class="intro__item-img" src="./images/content/intro-img-1.webp" alt="intro photo" loading="lazy">
                    </div>

                    <div class="intro__item">
                        <img class="intro__item-img" src="./images/content/intro-img-2.webp" alt="intro photo" loading="lazy">
                    </div>

                </div>

                <button class="intro__slider-next"></button>
                <button class="intro__slider-prev"></button>
            </div>

            <a class="intro__btn" href="index.html" aria-label="Go to the catalog btn">
                <span class="intro__btn-text">
                    перейти в каталог
                </span> 
            </a>

        </div>
    </div>
</section>
<!-- / INTRO  -->