<!-- MAIN GOODS SLIDER -->
<section class="main-goods">
    <div class="container">
        <div class="main-goods__inner">

            <h2 class="main-goods__title title">
                BOOKVILLE рекомендует
            </h2>

            <div class="main-goods__slider">
                <div class="main-goods__wrapper">

                    <div class="card main-goods__item">
                        <a class="card-link" href="javascript:void(0)" aria-label="product link">
                            <img class="card__img lazyload" data-src="images/content/card-img-1.webp" alt="card-img">
                            <span class="card__author">
                                Ольга Примаченко
                            </span>
                            <span class="card__title">
                                К себе нежно
                            </span>
                            <span class="card__price">
                                790
                            </span>
                        </a>
                        <button class="card__wish" type="button" aria-label="product wish"></button>
                        <button class="card__buy-btn" type="button" aria-label="product buy"></button>
                    </div>

                    <div class="card main-goods__item">
                        <a class="card-link" href="javascript:void(0)" aria-label="product link">
                            <img class="card__img lazyload" data-src="images/content/card-img-1.webp" alt="card-img">
                            <span class="card__author">
                                Ольга Примаченко
                            </span>
                            <span class="card__title">
                                К себе нежно
                            </span>
                            <span class="card__price">
                                790
                            </span>
                        </a>
                        <button class="card__wish" type="button" aria-label="product wish"></button>
                        <button class="card__buy-btn" type="button" aria-label="product buy"></button>
                    </div>

                    <div class="card main-goods__item">
                        <a class="card-link" href="javascript:void(0)" aria-label="product link">
                            <img class="card__img lazyload" data-src="images/content/card-img-1.webp" alt="card-img">
                            <span class="card__author">
                                Ольга Примаченко
                            </span>
                            <span class="card__title">
                                К себе нежно
                            </span>
                            <span class="card__price">
                                790
                            </span>
                        </a>
                        <button class="card__wish" type="button" aria-label="product wish"></button>
                        <button class="card__buy-btn" type="button" aria-label="product buy"></button>
                    </div>

                    <div class="card main-goods__item">
                        <a class="card-link" href="javascript:void(0)" aria-label="product link">
                            <img class="card__img lazyload" data-src="images/content/card-img-1.webp" alt="card-img">
                            <span class="card__author">
                                Ольга Примаченко
                            </span>
                            <span class="card__title">
                                К себе нежно
                            </span>
                            <span class="card__price">
                                790
                            </span>
                        </a>
                        <button class="card__wish" type="button" aria-label="product wish"></button>
                        <button class="card__buy-btn" type="button" aria-label="product buy"></button>
                    </div>

                    <div class="card main-goods__item">
                        <a class="card-link" href="javascript:void(0)" aria-label="product link">
                            <img class="card__img lazyload" data-src="images/content/card-img-1.webp" alt="card-img">
                            <span class="card__author">
                                Ольга Примаченко
                            </span>
                            <span class="card__title">
                                К себе нежно
                            </span>
                            <span class="card__price">
                                790
                            </span>
                        </a>
                        <button class="card__wish" type="button" aria-label="product wish"></button>
                        <button class="card__buy-btn" type="button" aria-label="product buy"></button>
                    </div>

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

            <a class="main-goods__show-all" href="javascript:void(0)" aria-label="show all">
                Смотреть все
            </a>

        </div>
    </div>
</section>
<!-- / MAIN GOODS SLIDER -->