<!-- MEASURE -->
<section class="measure">
    <div class="container">
        <div class="measure-inner">
            <div class="measure-img">
                <img src="images/content/measure-1.jpg" alt="measure img">
            </div>
            <div class="measure-info">
                <h2 class="measure-info__title title">
                    О наших мероприятиях
                </h2>
                <p class="measure-info__text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat  incididunt ut laboret.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat  incididunt ut laboret.
                </p>
                <a class="measure-info__btn btn btn--arrow" href="#" aria-label="measure btn">
                    <span class="btn__text">
                        ПОДРОБНЕЕ
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- / MEASURE -->