<!-- EVENTS - SECTION -->
<section class="events-section">
    <div class="container">
        <div class="events-section__inner">

            <div class="events-section__img">
                <img src="images/content/events-1.webp" alt="events img">
            </div>

            <div class="events-section__info">

                <h2 class="events-section__info-title title">
                    О наших мероприятиях
                </h2>

                <p class="events-section__info-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat  incididunt ut laboret.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat  incididunt ut laboret.
                </p>

                <a class="events-section__info-btn btn btn--arrow" href="#" aria-label="events btn">
                    <span class="btn__text">
                        ПОДРОБНЕЕ
                    </span>
                </a>

            </div>

        </div>
    </div>
</section>
<!-- / EVENTS - SECTION -->