<!-- REQUEST -->
<section class="request">
    <div class="container">
        <div class="request-inner">

            <div class="request-info">
                <h3 class="request__title title">
                    Не можете определиться с выбором?
                </h3>
                <p class="request__text">
                    Закажите бесплатную консультацию с нашим книжным сомелье
                </p>
            </div>

            <form class="request-form">
                <input class="request-form__item request__input input" type="text" placeholder="Ваше имя">
                <input class="request-form__item request__input input" type="number"
                    placeholder="Ваш номер">
                <button class="request-form__item request__btn btn btn--fill" type="submit">
                    <span class="btn__text">
                        ОСТАВИТЬ ЗАЯВКУ
                    </span>
                </button>
            </form>

        </div>
    </div>
</section>
<!-- / REQUEST -->