<!-- REQUEST -->
<section class="request">
    <div class="container">
        <div class="request__inner">

            <div class="request__info">
                <h3 class="request__title title">
                    Не можете определиться с выбором?
                </h3>
                <p class="request__text">
                    Закажите бесплатную консультацию с нашим книжным сомелье
                </p>
            </div>

            <form class="request__form">
                <input class="request__form-item input" type="text" placeholder="Ваше имя">
                <input class="request__form-item input" type="number" placeholder="Ваш номер">

                <button class="request__form-item request__btn btn btn--fill" type="submit">
                    <span class="btn__text">
                        ОСТАВИТЬ ЗАЯВКУ
                    </span>
                </button>
            </form>

        </div>
    </div>
</section>
<!-- / REQUEST -->