<!-- SELECTION -->
<section class="selection">
    <div class="container">
        <div class="selection__inner">

            <h2 class="selection__title title">
                Подборка книг
            </h2>

            <div class="selection__items">

                <a class="selection__item" href="./product-category.html" aria-label="For a cozy evening book title" data-aos="fade-up">
                    <div class="selection__item-top">
                        <h3 class="selection__item-title">
                            Для уютного вечера
                        </h3>
                        <p class="selection__item-subtitle">
                            15 книг
                        </p>
                    </div>
                    <div class="selection__item-bottom">
                        <img class="selection__item-img" src="images/content/selection-1.webp" alt="For a cozy evening book photo" loading="lazy">
                    </div>
                </a>

                <a class="selection__item" href="./product-category.html" aria-label="For proactive parents book title" data-aos="fade-up">
                    <div class="selection__item-top">
                        <h3 class="selection__item-title">
                            Для проактивных родителей
                        </h3>
                        <p class="selection__item-subtitle">
                            15 книг
                        </p>
                    </div>
                    <div class="selection__item-bottom">
                        <img class="selection__item-img" src="images/content/selection-2.webp" alt="For proactive parents book photo" loading="lazy">
                    </div>
                </a>

                <a class="selection__item" href="./product-category.html" aria-label="About psychology book title" data-aos="fade-up">
                    <div class="selection__item-top">
                        <h3 class="selection__item-title">
                            О психологии
                        </h3>
                        <p class="selection__item-subtitle">
                            15 книг
                        </p>
                    </div>
                    <div class="selection__item-bottom">
                        <img class="selection__item-img" src="images/content/selection-3.webp" alt="About psychology book photo" loading="lazy">
                    </div>
                </a>

                <a class="selection__item" href="./product-category.html" aria-label="For the leader book title" data-aos="fade-up">
                    <div class="selection__item-top">
                        <h3 class="selection__item-title">
                            Для руководителя
                        </h3>
                        <p class="selection__item-subtitle">
                            15 книг
                        </p>
                    </div>
                    <div class="selection__item-bottom">
                        <img class="selection__item-img" src="images/content/selection-4.webp" alt="For the leader book photo" loading="lazy">
                    </div>
                </a>

                <a class="selection__item" href="./product-category.html" aria-label="About health book title" data-aos="fade-up">
                    <div class="selection__item-top">
                        <h3 class="selection__item-title">
                            О здоровье
                        </h3>
                        <p class="selection__item-subtitle">
                            15 книг
                        </p>
                    </div>
                    <div class="selection__item-bottom">
                        <img class="selection__item-img" src="images/content/selection-5.webp" alt="About health book photo" loading="lazy">
                    </div>
                </a>

                <a class="selection__item" href="./product-category.html" aria-label="For curiosity book title" data-aos="fade-up">
                    <div class="selection__item-top">
                        <h3 class="selection__item-title">
                            Для любознаек
                        </h3>
                        <p class="selection__item-subtitle">
                            15 книг   
                        </p>
                    </div>
                    <div class="selection__item-bottom">
                        <img class="selection__item-img" src="images/content/selection-6.webp" alt="For curiosity book photo" loading="lazy">
                    </div>
                </a>

            </div>

        </div>
    </div>
</section>
<!-- / SELECTION -->