<!-- SELECTION -->
<section class="selection">
    <div class="container">
        <div class="selection__inner">

            <h2 class="selection__title title">
                Подборка книг
            </h2>

            <div class="selection__items">

                <a class="selection__item" href="javascript:void(0)" aria-label="selection books">
                    <div class="selection__item-top">
                        <h3 class="selection__item-title">
                            Для уютного вечера
                        </h3>
                        <p class="selection__item-subtitle">
                            15 книг
                        </p>
                    </div>
                    <div class="selection__item-bottom">
                        <img class="selection__item-img lazyload" data-src="images/content/selection-1.webp" alt="selection">
                    </div>
                </a>

                <a class="selection__item" href="javascript:void(0)" aria-label="selection books">
                    <div class="selection__item-top">
                        <h3 class="selection__item-title">
                            Для проактивных родителей
                        </h3>
                        <p class="selection__item-subtitle">
                            15 книг
                        </p>
                    </div>
                    <div class="selection__item-bottom">
                        <img class="selection__item-img lazyload" data-src="images/content/selection-2.webp" alt="selection">
                    </div>
                </a>

                <a class="selection__item" href="javascript:void(0)" aria-label="selection books">
                    <div class="selection__item-top">
                        <h3 class="selection__item-title">
                            О психологии
                        </h3>
                        <p class="selection__item-subtitle">
                            15 книг
                        </p>
                    </div>
                    <div class="selection__item-bottom">
                        <img class="selection__item-img lazyload" data-src="images/content/selection-3.webp" alt="selection">
                    </div>
                </a>

                <a class="selection__item" href="javascript:void(0)" aria-label="selection books">
                    <div class="selection__item-top">
                        <h3 class="selection__item-title">
                            Для руководителя
                        </h3>
                        <p class="selection__item-subtitle">
                            15 книг
                        </p>
                    </div>
                    <div class="selection__item-bottom">
                        <img class="selection__item-img lazyload" data-src="images/content/selection-4.webp" alt="selection">
                    </div>
                </a>

                <a class="selection__item" href="javascript:void(0)" aria-label="selection books">
                    <div class="selection__item-top">
                        <h3 class="selection__item-title">
                            О здоровье
                        </h3>
                        <p class="selection__item-subtitle">
                            15 книг
                        </p>
                    </div>
                    <div class="selection__item-bottom">
                        <img class="selection__item-img lazyload" data-src="images/content/selection-5.webp" alt="selection">
                    </div>
                </a>

                <a class="selection__item" href="javascript:void(0)" aria-label="selection books">
                    <div class="selection__item-top">
                        <h3 class="selection__item-title">
                            Для любознаек
                        </h3>
                        <p class="selection__item-subtitle">
                            15 книг   
                        </p>
                    </div>
                    <div class="selection__item-bottom">
                        <img class="selection__item-img lazyload" data-src="images/content/selection-6.webp" alt="selection">
                    </div>
                </a>

            </div>

        </div>
    </div>
</section>
<!-- / SELECTION -->