 <!-- SERVICE -->
 <section class="service">
     <div class="container">
         <div class="service__inner">

            <h2 class="service__title" hidden>
                Сервис
            </h2>

             <div class="service__item">
                 <div class="service__item-number">1</div>
                 <p class="service__item-text">
                     Консультация книжного сомелье
                 </p>
             </div>

             <div class="service__item">
                 <div class="service__item-number">2</div>
                 <p class="service__item-text">
                     Доставка 1-2 дня
                 </p>
             </div>

             <div class="service__item">
                 <div class="service__item-number">3</div>
                 <p class="service__item-text">
                     Уникальные подборки книг
                 </p>
             </div>

             <div class="service__item">
                 <div class="service__item-number">4</div>
                 <p class="service__item-text">
                     Эстетическая упаковка
                 </p>
             </div>

         </div>
     </div>
 </section>
 <!-- / SERVICE -->