// === CHOSEN ===
.chosen {
    margin-bottom: rem(29px);

    &__title {
        margin-bottom: rem(21px);
        text-align: left;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        margin: rem(5px) rem(5px) rem(20px) rem(5px);
    }
}
// === / CHOSEN ===
