// === EVENTS - SECTION ===
.events-section {
    padding: rem(87px) 0 rem(68px) 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.events-section__img {
    @include img(rem(525px), rem(325px));

    img {
        width: 100%;
        height: 100%;
        border-radius: rem(5px);
    }
}

.events-section__info {
    width: rem(607px);
    padding-left: rem(20px);

    &-title {
        margin-bottom: rem(16px);
        text-align: left;
    }

    &-text {
        margin-bottom: rem(23px);
        font-weight: $fw-ExtraLight;
        color: $dark-50;
    }
}
// === / EVENTS - SECTION ===
