// === FOOTER ===
.footer {
    background-color: $light-150;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 136px;
        padding: 19px 0 33px;
    }
}

.footer__menu {
    &-list {
        display: flex;
    }

    &-item {
        font-size: $fs-s;
        line-height: $lh-m;
        color: $dark-350;
        transition: $transition;

        & + & {
            margin-left: 36px;
        }

        &:hover {
            color: lighten($dark-550, 15);
        }
    }
}
// === / FOOTER ===
