// === HEADER ===

.header {
    z-index: 9999;
    background-color: $light-50;
}

.header-top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: rem(12px) 0 rem(27px);
    border-bottom: rem(1px) solid $light-350;
}

.header__items {
    display: flex;
}

.header__item {
    position: relative;
    transition: $transition;

    &:not(:last-child) {
        margin-right: rem(29px);
    }

    svg {
        fill: $dark-450;
    }

    &-count {
        position: absolute;
        top: rem(-6px);
        right: rem(-11px);
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(22px);
        height: rem(22px);
        font-size: rem(10px);
        line-height: rem(12px);
        color: $light-50;
        user-select: none;
        background-color: #61564f;
        border: rem(2px) solid $light-50;
        border-radius: 100%;
    }

    &:hover {
        fill: $dark-150;
        transition: $transition;
        transform: scale(1.1);
    }

    &--search {
        width: rem(28px);
        height: rem(28px);
    }

    &--wish {
        width: rem(31px);
        height: rem(31px);
    }

    &--basket {
        width: rem(32px);
        height: rem(32px);
    }
}

.search-button {
    width: rem(28px);
    height: rem(28px);

    svg {
        fill: $dark-450;
    }

    &:hover {
        fill: $dark-150;
        transition: $transition;
        transform: scale(1.1);
    }

    &-mobile {
        display: none;
    }
}

// === SEARCH POPUP ===

.search {
    position: fixed;
    top: -100%;
    right: 0;
    left: 0;
    z-index: 9999;
    padding: rem(20px) 0;
    background-color: rgba(#e5e5e5, .8);
    transition: $transition;

    &-form {
        display: flex;

        &__input {
            width: 100%;
            padding: rem(13px) rem(29px);
            background-color: $light-200;
            border-radius: rem(5px);
        }

        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(50px);
            height: rem(43px);
            margin-left: rem(20px);
            cursor: pointer;
            background-color: $light-200;
            border-radius: rem(5px);
            transition: $transition;
            object-fit: cover;

            svg {
                width: rem(17px);
                height: rem(17px);
                stroke: $dark-450;
            }

            &:hover {
                background-color: darken($light-200, 5);
            }
        }
    }

    &--active {
        top: 0;
    }
}

// === HEADER BUTTON ===

.header-bottom {
    position: relative;
    display: flex;
    align-items: center;
    height: rem(56px);
}

.header-submenu {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__burger {
        position: relative;
        width: rem(25px);
        height: rem(16px);
        transition: $transition;

        span {
            position: absolute;
            top: rem(7px);
            display: flex;
            width: rem(19px);
            height: rem(2px);
            background-color: #322b26;
            transition: $transition;
        }

        &::before,
        &::after {
            position: absolute;
            left: 0;
            width: 100%;
            height: rem(2px);
            content: "";
            background-color: #322b26;
            transition: $transition;
        }

        &::before {
            bottom: 0;
        }

        &::after {
            top: 0;
        }
    }

    &__text {
        padding-left: rem(18px);
        font-size: $fs-s;
        font-weight: $fw-medium;
        line-height: $lh-m;
        color: #322b26;
        transition: $transition;
    }

    @media (any-hover: hover) {
        &:hover .header-submenu {
            &__burger {
                span,
                &::before,
                &::after {
                    background-color: lighten(#322b26, 30);
                }
            }

            &__text {
                color: lighten(#322b26, 30);
            }
        }
    }
}

// === MENU ===

.menu__list {
    display: flex;

    &-item {
        font-size: $fs-s;
        line-height: $lh-m;
        color: $dark-350;
        transition: $transition;

        & + & {
            margin-left: rem(36px);
        }

        &:hover {
            color: lighten($dark-500, 15);
        }
    }

    &--active {
        .dropdown {
            left: 0%;
            opacity: 1;
        }

        .header-submenu__burger {
            &::before {
                bottom: rem(4px);
                transform: rotate(45deg);
            }

            span {
                opacity: 0;
            }

            &::after {
                top: rem(10px);
                transform: rotate(-45deg);
            }
        }

        .header-submenu {
            .header-submenu__burger {
                span,
                &::before,
                &::after {
                    background-color: darken($dark-450, 30);
                }
            }

            &__text {
                color: darken($dark-450, 30);
            }
        }
    }
}

// === SOCIAL ===

.social {
    margin-left: auto;
}

.social__item {
    svg {
        width: rem(19px);
        height: rem(19px);
        stroke: $dark-400;
        transition: $transition;
    }

    & + & {
        margin-left: rem(19px);
    }

    &:hover svg {
        stroke: lighten($dark-500, 15);
        transition: $transition;
        transform: scale(1.1);
    }
}

.header-social {
    margin-right: rem(35px);
}

.header-select {
    margin-right: 0;

    .choices {
        width: rem(60px);
        text-align: center;
        user-select: none;

        &__inner {
            width: rem(60px);
            min-height: rem(22px);
            font-size: $fs-s;
            font-weight: $fw-medium;
            line-height: $lh-m;
            color: $dark-550;
            vertical-align: unset;
            background-color: $light-50;
            border: none;
            transition: $transition;

            &:hover {
                color: darken($dark-550, 20);
            }
        }

        &::after {
            top: 50%;
            right: 0;
            width: rem(11px);
            height: rem(11px);
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 11 11'%3e%3cg clip-path='url(%23a)'%3e%3cpath fill='%23787878' d='m5.497 7.441 4.78-4.78a.423.423 0 0 1 .6.599l-5.08 5.079a.423.423 0 0 1-.599 0l-5.08-5.08a.423.423 0 0 1 .6-.598l4.78 4.78Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='%23fff' d='M0 0h11v11H0z' transform='matrix(0 -1 -1 0 11 11)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
            border-style: none;
            transition: 0.15s;
            transform: translateY(-50%);
        }

        &.is-open::after {
            top: 30%;
            margin: 0;
            transform: rotate(180deg);
        }

        & .choices__list--dropdown {
            border: none;
            border-radius: rem(5px);
            transition: $transition;

            .choices__item {
                padding: rem(5px) 0;
                font-size: $fs-s;
                font-weight: $fw-medium;
                line-height: $lh-m;
                color: $dark-550;
            }

            .choices__item--selectable::after {
                display: none;
            }
        }

        & .is-highlighted {
            background-color: #d8d2c69e;
        }
    }

    &[data-type*=select-one] .choices__inner {
        padding: 0;
    }

    .choices__list--dropdown .choices__item--selectable {
        padding: 0;
    }

    .choices__list--single {
        padding: 0;
    }
}

// === SUBMENU ===

.dropdown {
    position: absolute;
    top: rem(55px);
    left: -100%;
    width: rem(974px);
    height: rem(462px);
    padding: rem(20px) rem(73px) rem(30px) rem(43px);
    background-color: $light-50;
    border-radius: rem(5px);
    box-shadow: 0 0 rem(30px) rgba(71, 71, 71, 0.1);
    opacity: 0;
    transition: $transition;
}

.dropdown-items {
    column-count: 3;
}

.dropdown-item {
    margin-bottom: rem(21px);
    font-size: $fs-s;
    line-height: $lh-m;
    color: $dark-100;

    &__title {
        margin-bottom: rem(12px);
        font-weight: $fw-semibold;
    }

    &__point + &__point {
        margin-top: rem(16px);
    }

    &__link {
        display: block;
        transition: $transition;

        &:hover {
            color: lighten($dark-500, 15);
        }
    }
}

.dropdown-submenu {
    padding-left: rem(22px);
    margin-top: rem(3px);

    &__point {
        position: relative;
        padding-left: rem(14px);
        font-weight: $fw-light;

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            width: rem(8px);
            height: rem(0.5px);
            content: "";
            background-color: $dark-100;
            transition: $transition;
            transform: translateY(-50%);
        }

        &:hover::before {
            background-color: lighten($dark-500, 15);
        }

        & + & {
            margin-top: rem(9px);
        }
    }

    &__link {
        display: block;
        transition: $transition;

        &:hover {
            color: lighten($dark-500, 15);
        }
    }
}

.burger-btn {
    position: relative;
    display: none;
    width: rem(22px);
    height: rem(16px);
    margin-right: rem(26px);
    cursor: pointer;
    transition: $transition;

    span {
        position: absolute;
        top: rem(7px);
        display: flex;
        width: 100%;
        height: rem(2px);
        background-color: $dark-450;
        transition: $transition;
    }

    &::before,
    &::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: rem(2px);
        content: "";
        background-color: $dark-450;
        transition: $transition;
    }

    &::before {
        bottom: 0;
    }

    &::after {
        top: 0;
    }
}

.header__mobile-items {
    display: none;
    align-items: center;
}

.header--active {
    .burger-btn {
        &::before {
            bottom: rem(4px);
            transform: rotate(-45deg);
        }

        span {
            opacity: 0;
        }

        &::after {
            top: rem(10px);
            transform: rotate(45deg);
        }
    }

    .menu__list {
        left: 0%;
        z-index: 999;
        opacity: 1;
    }
}

@keyframes show-header {
    0% {
        top: -100%;
        opacity: 0;
    }

    50% {
        top: -50%;
        opacity: 0.5;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}
// === / HEADER ===
