// === MEASURE ===
.measure {
    padding: 87px 0 68px 0;

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.measure-img img {
    border-radius: 5px;
    @include img(525px, 325px);
}

.measure-info {
    width: 607px;
    padding-left: 20px;

    &__title {
        margin-bottom: 16px;
        text-align: left;
    }

    &__text {
        margin-bottom: 23px;
        font-size: $fs-xs;
        font-weight: $fw-ExtraLight;
        line-height: $lh-s;
        color: $dark-50;
    }
}
// === / MEASURE ===
