// === ORDERING ===
.ordering {
    &__inner {
        margin-bottom: rem(55px);
    }

    &__title {
        margin-bottom: rem(29px);
        text-align: left;
    }

    &__form-inner {
        display: flex;
        justify-content: space-between;
    }

    &__indent {
        margin-right: rem(42px);
    }

    &__subtitle {
        margin-bottom: rem(13px);
        font-size: rem(24px);
        font-weight: $fw-regular;
        line-height: rem(29px);
        color: $dark-150;
    }

    &__btn {
        width: 100%;
        margin-top: rem(14px);
    }

    &__payment {
        width: 100%;
        max-width: rem(376px);
    }
}

.order-card {
    padding: rem(30px) rem(36px) rem(20px) rem(22px);
    background: #f9f9f9;
    border-radius: 5px;

    &__items {
        padding: rem(19px) 0 rem(16px) 0;
        margin-top: rem(12px);
        border-top: rem(0.5px) solid #9e9e9e;
        border-bottom: rem(0.5px) solid #9e9e9e;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: $fs-s;

        &-author {
            font-size: $fs-xxs;
            font-weight: $fw-regular;
            line-height: $lh-xs;
            color: #a3a3a3;
        }

        &-title {
            margin-top: rem(3px);
            font-weight: $fw-regular;
            line-height: $lh-m;
            color: $dark-150;
        }

        &-price {
            font-weight: $fw-medium;
            line-height: $lh-m;
            color: $dark-200;
        }

        & + & {
            margin-top: rem(19px);
        }
    }
}

.ordering-card__pay-method {
    display: flex;
    margin-top: rem(14px);
    font-size: $fs-xxs;
    line-height: $lh-xs;
    color: $dark-150;

    &-text {
        margin-right: rem(5px);
        font-weight: $fw-light;
    }

    &-value {
        font-weight: $fw-medium;
    }
}

.order-card__top {
    display: flex;
    justify-content: space-between;

    &-title,
    &-text {
        font-size: $fs-s;
        font-weight: $fw-medium;
        line-height: $lh-m;
        color: #303030;
    }
}

.ordering-card {
    &__delivery {
        margin-top: rem(12px);
        font-size: $fs-xxs;
        font-weight: $fw-medium;
        line-height: $lh-xs;
        color: $dark-150;
    }

    &__total {
        display: flex;
        justify-content: space-between;
        padding-top: rem(11px);
        margin-top: rem(11px);
        font-size: $fs-s;
        font-weight: $fw-medium;
        line-height: $lh-m;
        color: $dark-150;
        border-top: rem(0.5px) solid #9e9e9e;

        &-text {
            color: #303030;
        }
    }
}

.payment-detail__select {
    width: 100%;

    .choices {
        &__inner {
            font-size: $fs-xs;
            font-weight: $fw-regular;
            line-height: $fs-m;
            color: #4b4b4b;
            background-color: $light-50;
            border: rem(1px) solid #959595;
            border-radius: rem(8px);
        }

        &__list--single {
            padding: 0;
        }

        &::after {
            right: rem(33px);
            width: rem(11px);
            height: rem(11px);
            margin: 0;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 11 11'%3e%3cg clip-path='url(%23a)'%3e%3cpath fill='%23787878' d='m5.497 7.441 4.78-4.78a.423.423 0 0 1 .6.599l-5.08 5.079a.423.423 0 0 1-.599 0l-5.08-5.08a.423.423 0 0 1 .6-.598l4.78 4.78Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='%23fff' d='M0 0h11v11H0z' transform='matrix(0 -1 -1 0 11 11)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
            border: none;
            transition: .4s;
            transform: translateY(-50%);
        }

        &.is-open {
            .choices__inner {
                border-radius: rem(8px);
            }

            &::after {
                transform: rotate(180deg);
            }
        }

        & .choices__list--dropdown {
            z-index: 9999;
            margin: rem(10px) 0;
            border-radius: rem(8px);

            .choices__list {
                max-height: rem(200px);
            }
        }

        &__item {
            font-size: $fs-xs;
            font-weight: $fw-regular;
            line-height: $fs-m;
            color: #4b4b4b;

            &::after {
                display: none;
            }

            &--selectable {
                padding: rem(20px) rem(30px);

                .is-highlighted {
                    background-color: #f9f9f9;
                }
            }
        }

        &[data-type*=select-one] .choices__inner {
            padding: 0;
        }
    }
}

.payment-details {
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .payment-details__item {
            width: 48%;

            &:nth-child(odd) {
                margin-right: rem(22px);
            }
        }
    }

    &__item {
        margin-top: rem(22px);
    }
}

.payment-details__additional {
    margin-top: rem(32px);

    &-title {
        font-size: rem(24px);
        font-weight: $fw-light;
        line-height: rem(29px);
        color: $dark-150;
    }
}

.pay-method {
    &__box {
        display: flex;
        justify-content: space-between;
        margin-top: rem(52px);
    }

    &__title {
        width: 25%;
        font-size: rem(24px);
        font-weight: $fw-light;
        line-height: rem(29px);
        color: $dark-150;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 75%;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: rem(28px);
        cursor: pointer;
        user-select: none;

        &-radio {
            display: none;

            &-fake {
                position: relative;
                display: inline-flex;
                flex-shrink: 0;
                width: rem(33px);
                height: rem(33px);
                margin-right: rem(19px);
                background-color: #f7f7f7;
                border: rem(0.5px) solid $dark-450;
                border-radius: rem(8px);

                &::before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: rem(17px);
                    height: rem(17px);
                    content: "";
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 17 17'%3e%3cg clip-path='url(%23a)'%3e%3cpath fill='%23887569' d='M16.751 2.507a.85.85 0 0 0-1.202 0L5.365 12.69 1.451 8.776A.85.85 0 0 0 .25 9.978l4.515 4.515a.85.85 0 0 0 1.202 0L16.751 3.71a.85.85 0 0 0 0-1.202Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='%23fff' d='M0 0h17v17H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
                    opacity: 0;
                    transition: $transition;
                    transform: translate(-50%, -50%);
                }
            }

            &:checked + &-fake::before {
                opacity: 1;
            }
        }

        &-text {
            font-size: $fs-s;
            font-weight: $fw-regular;
            line-height: $lh-m;
            color: $dark-150;
        }
    }
}
// === / ORDERING ===

// === SUCCESSFUL - ORDER ===
.successful {
    &__inner {
        width: 50%;
        margin-bottom: rem(32px);
    }

    &__title {
        margin-bottom: rem(29px);
        text-align: left;
    }

    &__order-data {
        max-width: rem(376px);
    }
}

.successful-order-data__title {
    margin-bottom: 31px;
    text-align: left;
}

.order-value {
    display: flex;
    margin-bottom: rem(18px);

    &__text {
        margin-right: rem(26px);
        font-size: $fs-s;
        font-weight: $fw-regular;
        line-height: $lh-m;
        color: $dark-150;
    }

    &__amount {
        font-size: $fs-m;
        font-weight: $fw-semibold;
        line-height: $lh-l;
        color: $dark-200;
    }
}

.payment-option {
    display: flex;
    margin-bottom: rem(45px);
    font-size: $fs-s;
    line-height: $lh-m;
    color: $dark-150;

    &__text {
        margin-right: rem(5px);
        font-weight: $fw-regular;
    }

    &__value {
        font-weight: $fw-medium;
    }
}
// === / SUCCESSFUL - ORDER ===
