// === PRODUCT ===
.product__content {
    display: flex;
}

.product {
    &__inner {
        margin-bottom: rem(34px);
    }

    &__gallery {
        position: relative;
        width: rem(426px);
        height: rem(548px);
        overflow: hidden;
    }

    &__slider {
        display: flex;
        width: 100%;
        height: 100%;
    }

    &__slide {
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
            border-radius: rem(5px);
        }
    }

    .swiper-button-disabled {
        visibility: hidden;
        opacity: 0;
    }
}

.product__arrow-prev,
.product__arrow-next {
    position: absolute;
    top: 50%;
    width: rem(33px);
    height: rem(33px);
    cursor: pointer;
    background-color: $dark-450;
    background-repeat: no-repeat;
    border: 2px solid $dark-450;
    border-radius: 100%;
    transition: $transition;
    transform: translateY(-50%);

    &::after {
        width: rem(5px);
        height: rem(9px);
        content: "";
        background-repeat: no-repeat;
    }

    &:hover {
        background-color: $light-50;
    }
}

.product__arrow-prev {
    right: auto;
    left: rem(10px);

    &::after {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 8 14'%3e%3cpath fill='%23fff' d='M1.53 7.003 7.614.92a.539.539 0 0 0-.762-.761L.387 6.622a.539.539 0 0 0 0 .762l6.465 6.465a.539.539 0 0 0 .762-.762L1.53 7.003Z'/%3e%3c/svg%3e ");
    }

    &:hover::after {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 8 14'%3e%3cpath fill='%23887569' d='M1.53 7.003 7.614.92a.539.539 0 0 0-.762-.761L.387 6.622a.539.539 0 0 0 0 .762l6.465 6.465a.539.539 0 0 0 .762-.762L1.53 7.003Z'/%3e%3c/svg%3e");
    }
}

.product__arrow-next {
    right: rem(10px);
    left: auto;

    &::after {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 8 14'%3e%3cpath fill='%23fff' d='M6.47 6.997.388 13.08a.539.539 0 0 0 .762.761l6.464-6.464a.539.539 0 0 0 0-.762L1.15.15a.539.539 0 0 0-.762.762L6.47 6.997Z'/%3e%3c/svg%3e ");
    }

    &:hover::after {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 8 14'%3e%3cpath fill='%23887569' d='M6.47 6.997.388 13.08a.539.539 0 0 0 .762.761l6.464-6.464a.539.539 0 0 0 0-.762L1.15.15a.539.539 0 0 0-.762.762L6.47 6.997Z'/%3e%3c/svg%3e ");
    }
}

.product__wish {
    position: absolute;
    top: 8px;
    right: rem(12px);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(51px);
    height: rem(51px);
    cursor: pointer;
    background-color: $light-50;
    border-radius: 100%;
    box-shadow: 0 rem(4px) rem(20px) rgba($dark-50, 0.1);
    transition: $transition;

    span {
        display: block;
        width: rem(28px);
        height: rem(28px);
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 28 26'%3e%3cpath fill='%23675B56' d='M9.089 3A7.016 7.016 0 0 1 14.5 5.508 6.921 6.921 0 0 1 19.911 3C23.826 3 27 6.184 27 10.111c0 6.73-11.709 13.301-12.184 13.555a.568.568 0 0 1-.633 0C13.71 23.412 2 16.936 2 10.111c0-3.927 3.174-7.11 7.089-7.11ZM14.5 22.397c1.835-1.08 11.234-6.825 11.234-12.286 0-3.226-2.607-5.84-5.823-5.84a5.692 5.692 0 0 0-4.873 2.634.663.663 0 0 1-1.076 0 5.812 5.812 0 0 0-8.06-1.692 5.846 5.846 0 0 0-2.636 4.898c0 5.524 9.399 11.238 11.234 12.286Z'/%3e%3c/svg%3e ");
        transition: $transition;
    }

    &--selected {
        background-color: $dark-450;

        span {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 28 26'%3e%3cpath fill='%23fff' d='M9.089 3A7.016 7.016 0 0 1 14.5 5.508 6.921 6.921 0 0 1 19.911 3C23.826 3 27 6.184 27 10.111c0 6.73-11.709 13.301-12.184 13.555a.568.568 0 0 1-.633 0C13.71 23.412 2 16.936 2 10.111c0-3.927 3.174-7.11 7.089-7.11ZM14.5 22.397c1.835-1.08 11.234-6.825 11.234-12.286 0-3.226-2.607-5.84-5.823-5.84a5.692 5.692 0 0 0-4.873 2.634.663.663 0 0 1-1.076 0 5.812 5.812 0 0 0-8.06-1.692 5.846 5.846 0 0 0-2.636 4.898c0 5.524 9.399 11.238 11.234 12.286Z'/%3e%3c/svg%3e ");
        }
    }
}

.product__info {
    width: 64%;
    margin-left: rem(66px);
}

.product__author {
    font-size: $fs-s;
    line-height: $lh-m;
    color: #a3a3a3;
}

.product__title {
    margin-top: rem(8px);
    font-size: rem(24px);
    font-weight: $fw-medium;
    line-height: rem(29px);
    color: $dark-150;
}

.product__status {
    position: relative;
    padding-left: rem(36px);
    margin-top: rem(22px);
    font-size: $fs-s;
    line-height: $lh-m;
    color: $dark-150;

    &::before {
        position: absolute;
        top: 50%;
        left: 0;
        width: rem(17px);
        height: rem(17px);
        content: "";
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 17 17'%3e%3cg clip-path='url(%23a)'%3e%3cpath fill='%23887569' d='M16.751 2.507a.85.85 0 0 0-1.202 0L5.365 12.69 1.451 8.776A.85.85 0 0 0 .25 9.978l4.515 4.515a.85.85 0 0 0 1.202 0L16.751 3.71a.85.85 0 0 0 0-1.202Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='%23fff' d='M0 0h17v17H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
        transform: translateY(-50%);
    }
}

.product__order {
    display: flex;
    align-items: center;
    padding: rem(12px) 0 rem(13px) 0;
    margin-top: rem(20px);
    border-top: rem(0.5px) solid $light-350;
    border-bottom: rem(0.5px) solid $light-350;
}

.product__price {
    margin-right: rem(65px);
    font-size: rem(24px);
    font-weight: $fw-medium;
    line-height: rem(29px);
}

.product__btn {
    min-width: rem(190px);
    padding: rem(17px) rem(25px);
    text-align: center;
}

.product__attributes {
    padding: rem(20px) 0;
    border-bottom: rem(0.5px) solid $light-350;
}

.product__attribute {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: $fs-xxs;
    line-height: $lh-xs;

    & + & {
        margin-top: rem(16px);
    }

    &-name {
        width: rem(200px);
    }

    &-value {
        margin-left: rem(96px);
        font-weight: $fw-medium;
    }
}

.product__description {
    margin-top: rem(19px);
    color: $dark-50;

    &-btn {
        position: relative;
        display: block;
        width: rem(23px);
        height: rem(4px);
        margin-top: rem(13px);
        cursor: pointer;

        span {
            position: absolute;
            top: 0;
            left: rem(9px);
            width: rem(4px);
            height: rem(4px);
            background-color: #a5a5a5;
            border-radius: 100%;
        }

        &::before,
        &::after {
            position: absolute;
            top: 0;
            width: rem(4px);
            height: rem(4px);
            content: "";
            background-color: #a5a5a5;
            border-radius: 100%;
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }

    .show-more-text {
        display: none;
    }

    .show-text {
        .show-more-text {
            display: block;
        }

        .product__description-btn {
            display: none;
        }
    }
}
// === / PRODUCT ===
