// === REQUEST ===
.request {
    background-color: $light-300;

    &__inner {
        padding: rem(41px) 0 rem(48px) 0;
    }

    &__info {
        margin-bottom: rem(38px);
        text-align: center;
    }

    &__title {
        margin-bottom: rem(12px);
    }

    &__text {
        font-size: $fs-s;
        font-weight: $fw-light;
        line-height: $lh-m;
        color: $dark-50;
    }

    &__form {
        display: flex;

        &-item {
            width: 33.3%;

            & + & {
                margin-left: rem(14px);
            }
        }
    }
}
// === / REQUEST ===
