// === REQUEST ===
.request {
    background-color: $light-300;

    &__inner {
        padding: 41px 0 48px 0;
    }

    &__info {
        margin-bottom: 38px;
        text-align: center;
    }

    &__title {
        margin-bottom: 12px;
    }

    &__text {
        font-size: $fs-s;
        font-weight: $fw-light;
        line-height: $lh-m;
        color: $dark-50;
    }

    &__form {
        display: flex;

        &-item {
            width: 33.3%;

            & + & {
                margin-left: 14px;
            }
        }
    }
}
// === / REQUEST ===
