// === SALES ===
.sales {
    &__title {
        margin-bottom: rem(53px);
        text-align: left;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        margin: rem(5px) rem(5px) rem(40px) rem(5px);
    }
}
// === / SALES ===
