// === SELECTION ===

.selection {
    margin-bottom: rem(53px);

    &__title {
        margin-bottom: rem(29px);
    }
}

.selection__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.selection__item {
    width: rem(381px);
    height: fit-content;
    background: $light-50;
    border-radius: rem(5px);
    box-shadow: 0 rem(4px) rem(20px) rgba($dark-50, 0.1);
    transition: $transition;

    &:not(:nth-child(-n+3)) {
        margin-top: rem(19px);
    }

    &-top {
        padding: rem(20px) rem(27px);
        font-weight: $fw-medium;
    }

    &-title {
        margin-bottom: rem(12px);
        font-size: $fs-l;
        line-height: $lh-xl;
        color: $dark-100;
    }

    &-subtitle {
        font-size: $fs-s;
        line-height: $lh-m;
        color: $dark-600;
    }

    &-bottom {
        @include img(rem(381px), rem(206px));
    }

    &-img {
        border-radius: rem(5px);
    }

    &:hover {
        transform: translateY(rem(-5px));
    }
}
// === / SELECTION ===
