// === SINGLE - BLOG ===
.single-blog {
    &__inner {
        margin-bottom: rem(15px);

        img {
            border-radius: rem(5px);
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(37px);
    }

    &__title {
        margin-bottom: rem(38px);
        text-align: left;
    }

    &__text {
        & + & {
            margin-top: rem(18px);
        }
    }

    &__info {
        width: 55%;
        margin-right: rem(63px);
    }

    &__img {
        @include img(rem(522px), rem(522px));
    }
}

.single-blog__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-item {
        margin: rem(7px) rem(5px) 0;
        @include img(rem(388px), rem(260px));

        &:first-child {
            margin-left: 0;
        }
    }
}
// === / SINGLE - BLOG ===
