// === MONTSERRAT ===

@font-face {
    // === THIN ===
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Thin.woff2') format('woff2'), url('../fonts/Roboto/Montserrat-Thin.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 100;
}

@font-face {
    // === EXTRALIGHT ===
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraLight.woff2') format('woff2'), url('../fonts/Roboto/Montserrat-ExtraLight.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 100;
}

@font-face {
    // === LIGHT ===
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2'), url('../fonts/Roboto/Montserrat-Light.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 300;
}

@font-face {
    // === REGULAR ===
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Roboto/Montserrat-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    // === MEDIUM ===
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'), url('../fonts/Roboto/Montserrat-Medium.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}

@font-face {
    // === SEMIBOLD ===
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'), url('../fonts/Roboto/Montserrat-SemiBold.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 600;
}

// === / MONTSERRAT ===
