@import "vars";

// === RESET STYLES ===

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #cbbb9f;
}

:root {
    scrollbar-color: #cbbb9f transparent;
    scrollbar-width: thin;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

div {
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

button,
input {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

a {
    padding: 0;
    margin: 0;
    color: inherit;
    text-decoration: none;
}

img {
    display: flex;
    object-fit: cover;
}

a,
button,
input,
textarea {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

// === GLOBAL STYLE ===

body {
    font-size: $fs-xs;
    line-height: $lh-s;
    @include Montserrat($weight: $fw-regular);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

// === LOGO ===

.logo__img {
    width: 155px;
    height: 84px;
    transition: $transition;

    &:hover {
        opacity: 0.8;
    }
}

// === BUTTON ===

.btn {
    position: relative;
    padding: 20px 25px;
    cursor: pointer;

    .btn__text {
        position: relative;
        z-index: 2;
        font-size: $fs-s;
        line-height: $lh-m;
        color: $light-50;
        text-transform: uppercase;
        transition: $transition;
    }

    // === fill button ===

    &--fill {
        &::before,
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            border-radius: 8px;
            transition: $transition;
        }

        &::before {
            z-index: 1;
            background-color: $dark-450;
        }

        &::after {
            border: 1px solid $dark-450;
            opacity: 0;
            transform: scale(1.2, 1.2);
        }

        &:hover {
            &::before {
                opacity: 0;
                transform: scale(0.5, 0.5);
            }

            &::after {
                opacity: 1;
                transform: scale(1, 1);
            }

            .btn__text {
                color: $dark-450;
            }
        }

        &:active::after {
            border-color: lighten($dark-450, 5);
        }
    }

    // === transparent button ===

    &--transparent {
        .btn__text {
            color: $dark-450;
        }

        &::before,
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            border-radius: 8px;
            transition: $transition;
        }

        &::after {
            z-index: 1;
            background-color: $dark-450;
            opacity: 0;
            transform: scale(1.2, 1.2);
        }

        &::before {
            border: 1px solid $dark-450;
            opacity: 1;
        }

        &:hover {
            .btn__text {
                color: $light-50;
            }

            &::before {
                opacity: 0;
                transform: scale(0.5, 0.5);
            }

            &::after {
                opacity: 1;
                transform: scale(1, 1);
            }
        }

        &:active::after {
            background-color: lighten($dark-450, 5);
        }
    }

    // === btn with arrow ===

    &--arrow {
        display: inline-block;
        padding: 21px 45px;
        // min-width: 230px;
        text-align: center;
        border: 1px solid $dark-450;
        border-radius: 8px;

        .btn__text {
            position: relative;
            padding-right: 33px;
            color: $dark-450;

            &::after {
                position: absolute;
                top: 50%;
                right: 0%;
                width: 14px;
                height: 8px;
                content: "";
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 8'%3e%3cpath fill='%23887569' d='M0 4c0 .245.22.444.492.444h11.844L9.233 7.245a.421.421 0 0 0-.143.313c0 .113.049.227.143.312a.53.53 0 0 0 .695 0l3.935-3.557a.427.427 0 0 0 0-.628L9.925.13a.53.53 0 0 0-.695 0 .415.415 0 0 0 0 .628l3.1 2.8H.49C.217 3.556 0 3.755 0 4Z'/%3e%3c/svg%3e ");
                transition: $transition;
                transform: translateY(-50%);
            }
        }

        &:hover {
            .btn__text::after {
                right: -5%;
            }
        }
    }
}

@media (max-width: 500px) {
    .btn {
        padding: 16px 20px;

        &__text {
            font-size: 12px;
            line-height: 15px;
        }
    }
}

// === INPUT ===

.input {
    width: 100%;
    padding: 21px 29px;
    color: #9f9f9f;
    background-color: $light-50;
    border: 1px solid #959595;
    border-radius: 8px;
}

@media (max-width: 500px) {
    .input {
        padding: 15px 32px;
        font-size: $fs-xxs;
        line-height: $lh-xs;
    }
}

// === PHONE ===

.phone {
    position: relative;
    padding-left: 29px;
    font-size: $fs-s;
    font-weight: $fw-medium;
    line-height: $lh-m;
    color: $dark-300;
    transition: $transition;

    &::before {
        position: absolute;
        top: 50%;
        bottom: 50%;
        left: 0;
        width: 16px;
        height: 16px;
        content: "";
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cg clip-path='url(%23a)'%3e%3cpath fill='%23887569' d='M11.5 16a4.458 4.458 0 0 1-1.53-.273 16.308 16.308 0 0 1-5.922-3.775A16.308 16.308 0 0 1 .274 6.03a4.426 4.426 0 0 1-.226-2.175A4.53 4.53 0 0 1 2.38.533 4.455 4.455 0 0 1 4.514 0a.5.5 0 0 1 .488.395l.785 3.663a.5.5 0 0 1-.135.458L4.31 5.856a13.161 13.161 0 0 0 5.833 5.834l1.34-1.341a.5.5 0 0 1 .459-.136l3.662.785a.5.5 0 0 1 .395.489c0 .758-.179 1.476-.533 2.133a4.547 4.547 0 0 1-3.322 2.333A4.438 4.438 0 0 1 11.5 16ZM4.114 1.022a3.46 3.46 0 0 0-2.476 1.475 3.445 3.445 0 0 0-.424 3.192 15.165 15.165 0 0 0 9.098 9.098 3.445 3.445 0 0 0 3.191-.424 3.463 3.463 0 0 0 1.476-2.477l-2.98-.638-1.4 1.4a.5.5 0 0 1-.566.1 14.158 14.158 0 0 1-6.78-6.78.5.5 0 0 1 .099-.566l1.4-1.4-.638-2.98Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='%23fff' d='M0 0h16v16H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
        transform: translateY(-50%);
    }

    &:hover {
        color: lighten($dark-300, 25);
    }
}

@media (max-width: 500px) {
    .phone {
        padding-left: 18px;
        font-size: $fs-xxs;
        line-height: $lh-xs;

        &::before {
            width: 9px;
            height: 9px;
        }
    }
}

// === GOODS OF CARD ===

.card {
    position: relative;
    width: 279px;
    height: 420px;
    padding: 31px 18px 14px 18px;
    font-weight: $fw-medium;
    background: $light-200;
    border-radius: 5px;
    transition: $transition;

    &-link {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__img {
        margin: 0 auto 9px;
        @include img(219px, 285px);
    }

    &__author {
        margin-bottom: 10px;
        font-size: $fs-xxs;
        font-weight: $fw-light;
        line-height: $lh-xs;
        color: $dark-300;
        transition: $transition;
    }

    &__title {
        display: block;
        margin-bottom: 3px;
        font-size: $fs-s;
        line-height: $lh-m;
        color: $dark-100;
    }

    &__price {
        position: relative;
        padding-right: 17px;
        font-size: $fs-m;
        line-height: $lh-l;
        color: $dark-200;

        &::before {
            position: absolute;
            top: 50%;
            right: 0;
            content: "₽";
            transform: translateY(-50%);
        }
    }

    &__wish {
        position: absolute;
        top: 14px;
        right: 19px;
        z-index: 5;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-color: $light-400;
        border-radius: 100%;
        transition: $transition;

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 20px;
            height: 20px;
            content: "";
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.6709 1.72133C7.33929 1.71242 8.92534 2.44514 10 3.72131C11.068 2.43642 12.6584 1.70161 14.3291 1.72133C17.4611 1.72133 20 4.26025 20 7.39219C20 12.7593 10.6329 17.9998 10.2532 18.2023C10.0999 18.3047 9.90011 18.3047 9.74684 18.2023C9.36708 17.9998 0 12.8352 0 7.39219C0 4.26025 2.53897 1.72133 5.6709 1.72133ZM10 17.1897C11.4684 16.3289 18.9873 11.7467 18.9873 7.39219C18.9873 4.81955 16.9018 2.73395 14.3291 2.73395C12.7537 2.71325 11.2793 3.5079 10.4304 4.8352C10.258 5.07288 9.92554 5.12584 9.68786 4.95343C9.64246 4.92048 9.60253 4.8806 9.56963 4.8352C8.1617 2.682 5.27481 2.07783 3.12162 3.48576C1.80348 4.34767 1.01009 5.81723 1.01271 7.39214C1.01266 11.7972 8.53167 16.3542 10 17.1897Z' fill='%23675B56'/%3e%3c/svg%3e ");
            transition: $transition;
            transform: translate(-50%, -50%);
        }

        &:hover {
            background-color: darken($light-400, 5);
        }

        &.card__wish--choose {
            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 20px;
                height: 20px;
                content: "";
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.6709 1.72133C7.33929 1.71242 8.92534 2.44514 10 3.72131C11.068 2.43642 12.6584 1.70161 14.3291 1.72133C17.4611 1.72133 20 4.26025 20 7.39219C20 12.7593 10.6329 17.9998 10.2532 18.2023C10.0999 18.3047 9.90011 18.3047 9.74684 18.2023C9.36708 17.9998 0 12.8352 0 7.39219C0 4.26025 2.53897 1.72133 5.6709 1.72133ZM10 17.1897C11.4684 16.3289 18.9873 11.7467 18.9873 7.39219C18.9873 4.81955 16.9018 2.73395 14.3291 2.73395C12.7537 2.71325 11.2793 3.5079 10.4304 4.8352C10.258 5.07288 9.92555 5.12584 9.68786 4.95343C9.64246 4.92048 9.60253 4.8806 9.56963 4.8352C8.1617 2.682 5.27481 2.07783 3.12162 3.48576C1.80348 4.34767 1.01009 5.81723 1.01271 7.39214C1.01266 11.7972 8.53167 16.3542 10 17.1897Z' fill='%23675B56'/%3e%3cpath d='M10 17.1897C11.4684 16.3289 18.9873 11.7467 18.9873 7.39219C18.9873 4.81955 16.9018 2.73395 14.3291 2.73395C12.7537 2.71325 11.2793 3.5079 10.4304 4.8352C10.258 5.07288 9.92555 5.12584 9.68786 4.95343C9.64246 4.92048 9.60253 4.8806 9.56963 4.8352C8.1617 2.682 5.27481 2.07783 3.12162 3.48576C1.80348 4.34767 1.01009 5.81723 1.01271 7.39214C1.01266 11.7972 8.53167 16.3542 10 17.1897Z' fill='%23675B56'/%3e%3c/svg%3e ");
                transform: translate(-50%, -50%);
            }
        }
    }

    &__buy-btn {
        position: absolute;
        right: 18px;
        bottom: 13px;
        z-index: 5;
        width: 26px;
        height: 26px;
        cursor: pointer;

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 26px;
            height: 26px;
            content: "";
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0)'%3e%3cpath d='M25.8934 11.0523C25.7916 10.9147 25.6301 10.8335 25.459 10.8335H0.542167C0.370982 10.8335 0.209599 10.9147 0.106665 11.0512C0.0048481 11.1888 -0.0265856 11.3665 0.023231 11.5301L2.80956 20.8197C3.15624 21.9745 4.1995 22.7502 5.40414 22.7502H20.5969C21.8016 22.7502 22.8448 21.9745 23.1904 20.8207L25.9767 11.5311C26.0266 11.3676 25.9952 11.1888 25.8934 11.0523ZM22.1537 20.5088C21.9446 21.201 21.3195 21.6669 20.5959 21.6669H5.40419C4.6805 21.6669 4.05543 21.201 3.84743 20.5088L1.27017 11.9168H24.7309L22.1537 20.5088Z' fill='%23675B56'/%3e%3cpath d='M11.6441 3.32177C11.3851 3.17333 11.0536 3.2622 10.9041 3.52327L6.57077 11.1066C6.42346 11.3666 6.51334 11.697 6.77334 11.8454C6.85784 11.8942 6.94991 11.9169 7.04203 11.9169C7.22946 11.9169 7.41253 11.8194 7.51328 11.6439L11.8467 4.06059C11.994 3.80059 11.9041 3.47015 11.6441 3.32177Z' fill='%23675B56'/%3e%3cpath d='M19.43 11.1066L15.0966 3.52327C14.945 3.2622 14.6124 3.17333 14.3567 3.32177C14.0956 3.4702 14.0057 3.80059 14.1541 4.06059L18.4875 11.6439C18.5882 11.8194 18.7713 11.9169 18.9587 11.9169C19.0508 11.9169 19.1429 11.8942 19.2274 11.8454C19.4885 11.697 19.5784 11.3666 19.43 11.1066Z' fill='%23675B56'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0'%3e%3crect width='26' height='26' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
            transition: $transition;
            transform: translate(-50%, -50%);
        }

        &.card__buy-btn--choose {
            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 26px;
                height: 26px;
                content: "";
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 26 26'%3e%3cg fill='%23675B56' clip-path='url(%23a)'%3e%3cpath d='M25.893 11.052a.54.54 0 0 0-.434-.218H.542a.54.54 0 0 0-.519.697L2.81 20.82a2.693 2.693 0 0 0 2.594 1.93h15.193a2.691 2.691 0 0 0 2.593-1.93l2.787-9.289a.54.54 0 0 0-.084-.479Zm-3.74 9.457a1.618 1.618 0 0 1-1.557 1.158H5.404a1.616 1.616 0 0 1-1.557-1.158L1.27 11.917h23.46l-2.576 8.592Z'/%3e%3cpath d='M22.154 20.509a1.618 1.618 0 0 1-1.558 1.158H5.404a1.616 1.616 0 0 1-1.557-1.158L1.27 11.917h23.46l-2.576 8.592Z'/%3e%3cpath d='M11.644 3.322a.542.542 0 0 0-.74.201l-4.333 7.584a.542.542 0 0 0 .942.537l4.334-7.584a.542.542 0 0 0-.203-.738Zm7.786 7.785-4.333-7.584a.543.543 0 0 0-.942.537l4.333 7.584a.543.543 0 0 0 .942-.537Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='%23fff' d='M0 0h26v26H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
                transform: translate(-50%, -50%);
            }
        }
    }

    @media (any-hover: hover) {
        &:hover {
            transform: translateY(-5px);
        }
    }

    &__discount {
        position: absolute;
        top: -18px;
        left: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 49px;
        height: 49px;
        color: $light-50;
        background: $dark-450;
        border-radius: 100%;
    }
}

@media (max-width: 500px) {
    .card {
        width: 137px;
        height: 214px;
        padding: 5px 7px;

        &__img {
            width: 99px;
            height: 132px;
        }

        &__author {
            margin-bottom: 0;
            font-size: 10px;
            line-height: $lh-xs;
        }

        &__title {
            font-size: 13px;
            line-height: 16px;
        }

        &__price {
            font-size: $fs-xxs;
            line-height: $lh-xs;
        }

        &__wish {
            top: 7px;
            right: 7px;
            width: 29px;
            height: 29px;

            &::before {
                width: 15px;
                height: 15px;
            }

            &.card__wish--choose {
                &::before {
                    width: 15px;
                    height: 15px;
                }
            }
        }

        &__buy-btn {
            right: 13px;
            bottom: 8px;
            width: 17px;
            height: 17px;

            &::before {
                width: 17px;
                height: 17px;
            }

            &.card__buy-btn--choose {
                &::before {
                    width: 17px;
                    height: 17px;
                }
            }
        }

        &__discount {
            top: -13px;
            left: 11px;
            width: 32px;
            height: 32px;
            font-size: 12px;
            line-height: 15px;
        }
    }
}

// === TITLE ===

.title {
    font-size: $fs-xl;
    font-weight: $fw-light;
    line-height: $lh-xxl;
    color: $dark-150;
    text-align: center;
}

// === TEXT ===

.text {
    font-weight: $fw-light;
    line-height: $lh-l;
    color: #525252;
}

// === BREADCRUMBS ===

.breadcrumbs {
    margin: 42px 0 35px 0;

    &__list {
        display: flex;
        align-items: flex-start;

        &-item {
            position: relative;
            padding-right: 23px;
            margin-right: 20px;
            color: #a7a7a7;

            a {
                transition: $transition;
            }

            &::before {
                position: absolute;
                top: 50%;
                right: 0;
                width: 8px;
                height: 8px;
                content: "";
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 8 8'%3e%3cg clip-path='url(%23a)'%3e%3cpath fill='%23A8A8A8' d='M5.412 4.002 1.935.525A.308.308 0 0 1 2.371.09l3.694 3.694c.12.12.12.315 0 .435L2.37 7.914a.308.308 0 0 1-.436-.436l3.477-3.476Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='%23fff' d='M0 0h8v8H0z' transform='matrix(-1 0 0 1 8 0)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
                transform: translateY(-50%);
            }

            &:last-child {
                padding-right: 0;
                margin-right: 0;

                &::before {
                    display: none;
                }
            }

            @media (any-hover: hover) {
                & a:hover {
                    color: lighten(#a7a7a7, 20);
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .breadcrumbs__list-item {
        padding: 13px;
        margin-right: 10px;
        font-size: $fs-xxs;
        line-height: $lh-xs;
    }
}

@media (max-width: 580px) {
    .breadcrumbs__list-item {
        padding: 0;
        margin-right: 0;

        &:not(:first-child) {
            display: none;
        }
    }
}
