@import "vars";

@media (max-width: 1250px) {
    // === INTRO ===
    .intro__slider-next {
        right: 0%;
    }

    .intro__slider-prev {
        left: 0%;
    }

    .intro__item-img {
        width: 93%;
        margin: 0 auto;
    }

    // === MAIN GOODS ===
    .main-goods {
        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }
    }
}

@media (max-width: 1200px) {
    // === SELECTION ===
    .selection__item {
        width: rem(340px);
    }

    // === CHOSEN ===
    .chosen__items {
        justify-content: space-around;
    }

    // === BLOG PAGE ===
    .blog {
        &__items {
            grid-template-columns: 1fr 1fr;
        }

        &__item {
            display: block;
            margin: 0 auto;

            &:nth-child(n+3) {
                margin-top: rem(50px);
            }
        }
    }

    .blog__item:nth-child(6n+6),
    .blog__item:nth-child(7n+7) {
        .blog__item-img {
            height: rem(260px);
        }
    }

    // === CATALOG ===
    .catalog {
        &__items {
            justify-content: space-evenly;
        }

        &__item {
            margin-bottom: rem(15px);
        }
    }
}

@media (max-width: 1150px) {
    // === HEADER ===
    .header-social {
        margin-right: 0;
    }

    // === FOOTER ===
    .footer__menu-item + .footer__menu-item {
        margin-left: rem(20px);
    }
}

@media (max-width: 1100px) {
    // === HEADER ===
    .menu__list-item + .menu__list-item {
        margin-left: rem(20px);
    }

    // === FOOTER ===
    .footer__menu-item {
        font-size: $fs-xs;
        line-height: $lh-s;

        & + & {
            margin-left: rem(10px);
        }
    }

    // === SELECTION ===
    .selection {
        &__items {
            justify-content: space-around;
        }

        &__item {
            margin-right: rem(6px);

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }

    // === CONTACT PAGE ===
    .contact__map {
        margin-left: rem(10px);
    }
}

@media (max-width: 1000px) {
    // === HEADER ===
    .header-submenu__text {
        padding-left: rem(5px);
    }

    .menu__list-item {
        font-size: rem(16px);
        line-height: rem(20px);

        & + & {
            margin-left: rem(10px);
        }
    }

    .dropdown {
        width: 100%;
        padding: rem(20px) rem(20px) rem(10px) rem(20px);
    }

    // === FOOTER ===
    .footer__logo .logo__img {
        width: rem(120px);
        height: rem(65px);
    }

    // === EVENTS - SECTION ===
    .events-section {
        padding: rem(35px) 0;

        .title {
            font-size: $fs-l;
            line-height: $lh-xl;
        }

        &__img {
            max-height: rem(275px);
        }

        &__info-text {
            margin-bottom: rem(15px);
            font-size: rem(15px);
            line-height: rem(18px);
        }
    }

    // === ABOUT ===
    .about {
        &__title {
            margin-bottom: rem(20px);
        }

        &__img {
            @include img(rem(390px), rem(380px));
        }
    }

    // === EVENTS ===
    .events {
        &__content {
            display: flex;
            flex-direction: column;
        }

        &__images {
            flex-wrap: wrap;
            justify-content: space-around;
            order: 1;
            margin-top: rem(20px);
        }

        &__img {
            margin-left: 0;
        }
    }

    // === DELIVERY ===
    .delivery__content .delivery__text {
        margin-left: rem(10px);
    }

    // === SINGLE - BLOG ===
    .single-blog {
        &__content {
            flex-direction: column;
            align-items: center;
            margin-bottom: rem(20px);
        }

        &__info {
            width: 100%;
            margin-right: 0;
            margin-bottom: rem(10px);
        }

        &__gallery {
            flex-wrap: wrap;
            justify-content: center;

            &-item {
                margin: rem(10px) rem(10px) 0;

                & + & {
                    margin-left: 0;
                }
            }
        }
    }

    // === CONTACT PAGE ===
    .contact__info {
        max-width: rem(310px);
    }

    // === ORDERING ===
    .ordering {
        &__form-inner {
            flex-direction: column;
        }

        &__indent {
            margin-right: 0;
        }

        &__payment {
            margin-top: rem(20px);
        }
    }

    .intro__item-img {
        max-height: 400px;
    }
}

@media (max-width: 950px) {
    // === CATALOG ===
    .category {
        margin-right: 0;
    }

    .catalog__item.card {
        width: rem(252px);
    }

    // === SUCCESSFUL ===
    .successful__inner {
        width: 100%;
    }
}

@media (max-width: 900px) {
    // === HEADER ===
    .header {
        &-social {
            display: none;
        }

        &-select {
            display: none;
        }

        &-submenu__text {
            display: none;
        }
    }

    .dropdown {
        padding: rem(10px) rem(10px) rem(10px);

        &-item {
            font-size: rem(16px);
            line-height: rem(20px);
        }
    }

    // === FOOTER ===
    .footer {
        &__inner {
            flex-direction: column;
            padding: rem(16px) 0 rem(20px) 0;
        }

        &__logo {
            margin-bottom: rem(22px);
        }

        &__menu {
            margin-bottom: rem(26px);

            &-list {
                flex-direction: column;
                align-items: center;
            }

            &-item {
                & + & {
                    margin-top: rem(13px);
                    margin-left: 0;
                }
            }
        }
    }

    // === INTRO ===
    .intro__btn {
        bottom: rem(25px);
        min-width: rem(300px);
        padding: rem(15px);
    }

    // === SERVICE ===
    .service__item-number {
        min-width: rem(48px);
        max-width: rem(48px);
        height: rem(48px);
        margin-right: rem(5px);
        font-size: $fs-m;
        line-height: $lh-m;

        &::before {
            width: rem(48px);
            height: rem(48px);
        }
    }

    // === ABOUT ===
    .about {
        &__content {
            flex-direction: column;
        }

        &__img {
            width: 100%;
            margin-top: rem(20px);
            margin-left: 0;
            @include img(rem(446px), rem(446px));
        }

        &__info {
            width: 100%;
        }

        &__quote {
            margin-bottom: rem(24px);
        }

        &__gallery {
            flex-direction: column;
            align-items: center;

            &-img + &-img {
                margin-top: rem(15px);
                margin-left: 0;
            }
        }
    }

    // === SALES ===
    .sales__items {
        justify-content: space-evenly;
    }

    // === DELIVERY ===
    .delivery {
        &__item + &__item {
            margin-top: rem(15px);
        }

        &__subtitle {
            font-size: $fs-l;
            line-height: $lh-xl;
        }

        &__info + &__info {
            margin-top: rem(20px);
        }

        &__content &__subtitle {
            margin-bottom: rem(30px);
        }
    }

    // === PRODUCT ===
    .product {
        &__gallery {
            width: rem(350px);
            height: rem(400px);
        }

        &__info {
            margin-left: rem(10px);
        }
    }

    // === CATALOG ===
    .category {
        &__mobile-btn {
            display: flex;
        }

        &__inner {
            height: 0;
            padding: 0 rem(19px) rem(21px) rem(19px);
            margin-bottom: rem(20px);
            visibility: hidden;
            border-radius: 0 0 5px 5px;
            opacity: 0;
            transition: $transition;
        }

        &--active {
            .category__inner {
                height: 100%;
                visibility: visible;
                opacity: 1;
            }

            .category__mobile-btn::after {
                transform: rotate(-180deg);
            }
        }
    }

    .catalog {
        &__content {
            flex-direction: column;
        }

        &__items {
            justify-content: space-between;
        }

        &__item.card {
            margin: 0 auto rem(15px);
        }
    }

    // === ORDERING ===
    .pay-method {
        display: flex;
        justify-content: space-between;
        margin-top: rem(24px);

        &__box {
            flex-direction: column;
            margin-top: 0;
        }

        &__items {
            flex-direction: column;
            width: 100%;
            margin-top: rem(20px);
        }

        &__title {
            width: 100%;
        }
    }

    .ordering {
        &__inner {
            position: relative;
            padding-bottom: rem(500px);
        }

        &__payment {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 0 auto;
        }
    }

    .payment-details__items {
        flex-direction: column;

        .payment-details__item {
            width: 100%;
        }
    }
}

@media (max-width: 850px) {
    // === BLOG PAGE ===
    .blog {
        &__items {
            grid-template-columns: 1fr;
        }

        &__item:nth-child(n + 2) {
            margin-top: rem(50px);
        }
    }
}

@media (max-width: 800px) {
    // === REQUEST ===
    .request {
        &__title {
            font-size: $fs-m;
            line-height: $lh-l;
        }

        &__text {
            font-size: $fs-xs;
            line-height: $lh-s;
        }

        &__form {
            flex-direction: column;
            align-items: center;

            &-item {
                width: 100%;

                & + & {
                    margin-top: rem(8px);
                    margin-left: 0;
                }
            }
        }
    }

    // === SERVICE ===
    .service {
        padding: rem(18px) 0;

        &__inner {
            flex-wrap: wrap;
        }

        &__item {
            width: 40%;
            margin-top: rem(20px);

            &-number {
                margin-right: rem(13px);

                &::after {
                    width: rem(48px);
                    height: rem(48px);
                }
            }
        }
    }

    // === EVENTS - SECTION ===
    .events-section {
        &__inner {
            flex-direction: column;
        }

        &__info {
            width: 100%;
            padding-left: 0;
            text-align: center;

            &-title {
                text-align: center;
            }
        }

        &__img {
            order: 1;
            margin-top: rem(19px);
        }
    }

    // === SELECTION ===
    .selection {
        &__item {
            width: rem(270px);

            &-top {
                padding: rem(11px) rem(17px);
            }

            &-title {
                margin-bottom: rem(5px);
                font-size: $fs-m;
                line-height: $lh-l;
            }

            &-subtitle {
                font-size: $fs-xs;
                line-height: $lh-s;
            }
        }
    }

    // === DELIVERY ===
    .delivery {
        &__subtitle {
            font-size: $fs-m;
            line-height: $lh-l;
        }

        &__item {
            flex-direction: column;

            & + & {
                margin-top: rem(20px);
            }
        }

        &__content {
            margin: rem(30px) 0 rem(30px);

            .delivery__text {
                margin-top: rem(20px);
                margin-left: 0;
            }
        }
    }

    // === SINGLE - BLOG ===
    .single-blog__gallery-item {
        margin: rem(10px) 0;
    }

    // === PRODUCT ===
    .product__attribute-value {
        margin-left: rem(10px);
    }

    .intro__item-img {
        max-height: 320px;
    }
}

@media (max-width: 700px) {
    // === GLOBAL ===
    .breadcrumbs {
        margin: rem(25px) 0 rem(25px);
    }

    // === EVENTS ===
    .events {
        margin-bottom: rem(20px);

        &__images {
            flex-direction: column;
            align-items: center;
        }

        &__img + &__img {
            margin-top: rem(20px);
        }
    }

    // === SALES ===
    .sales__title {
        margin-bottom: rem(25px);
    }

    // === SINGLE - BLOG ===
    .single-blog__title {
        margin-bottom: rem(17px);
    }

    // === CONTACT PAGE ===
    .contact {
        &__title {
            margin-bottom: rem(20px);
        }

        &__content {
            flex-direction: column;
            align-items: flex-start;
        }

        &__info {
            max-width: 100%;
            margin-bottom: rem(20px);
        }

        &__map {
            width: 100%;
            margin-left: 0;
        }
    }

    // === PRODUCT ===
    .product {
        &__inner {
            position: relative;
        }

        &__content {
            flex-direction: column;
            align-items: center;
        }

        &__info {
            width: 100%;
            margin-left: 0;
        }

        &__gallery {
            width: rem(350px);
            height: rem(430px);
            margin-top: rem(65px);
        }

        &__arrow-next,
        &__arrow-prev {
            display: none;
        }

        &__author {
            position: absolute;
            // top: -94%;
            top: 0;
        }

        &__title {
            position: absolute;
            // top: -90%;
            top: 15px;
        }
    }
}

@media (max-width: 650px) {
    // === HEADER ===
    .search-button-mobile {
        display: block;
    }

    .burger-btn {
        display: block;
    }

    .header {
        &__phone {
            display: none;
        }

        &__item.search-button {
            display: none;
        }

        &-top {
            align-items: center;
            padding: rem(5px) 0;
        }

        & .logo__img {
            width: rem(96px);
            height: rem(52px);
        }

        &__mobile-items {
            display: flex;
        }

        &-fixed {
            height: 77px;

            .header__inner {
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                background-color: $light-50;
                box-shadow: 0 rem(4px) rem(10px) rgba(71, 71, 71, 0.2);
                animation-name: show-header;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;

                .header-top {
                    border: none;
                }
            }
        }

        &-submenu {
            order: 1;
            padding-top: rem(28px);
            margin-top: rem(17px);
            border-top: rem(1px) solid $dark-250;

            &__text {
                display: block;
                padding-left: 0;
                color: #1b1b1b;
            }

            &__burger {
                display: none;
            }
        }

        &-bottom {
            height: 100%;
        }
    }

    .menu__list {
        position: absolute;
        top: rem(15px);
        left: -100%;
        flex-direction: column;
        width: rem(357px);
        // height: rem(654px);
        height: fit-content;
        max-height: calc(100vh - 100px);
        padding: rem(21px) rem(24px);
        overflow-y: scroll;
        background-color: $light-50;
        border-radius: rem(5px);
        box-shadow: 0 0 rem(30px) rgba(71, 71, 71, 0.1);
        opacity: 0;
        transition: $transition;

        &-item {
            padding: rem(12px) 0;

            & + & {
                margin-left: 0;
                border-top: rem(1px) solid $light-350;
            }

            &:nth-child(2) {
                border-top: none;
            }
        }

        .header-submenu {
            padding-top: rem(28px);
        }
    }

    .dropdown {
        position: relative;
        top: 0;
        left: 0;
        order: 1;
        width: 100%;
        height: 100%;
        padding: 0 0 0 0;
        border-radius: 0;
        box-shadow: none;
        opacity: 1;

        &-items {
            column-count: 1;
        }

        &-item {
            margin: 0;
            font-size: $fs-s;
            line-height: $lh-m;
            color: #1b1b1b;
            border-top: rem(1px) solid $light-350;

            &__title,
            &__point {
                padding: rem(12px) 0;
            }

            &__point {
                display: none;
                border-top: rem(1px) solid $light-350;

                & + & {
                    margin-top: 0;
                }
            }

            &__title {
                position: relative;
                margin-bottom: 0;
                font-weight: $fw-regular;

                &::after {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: rem(11px);
                    height: rem(6px);
                    content: "";
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 11 6'%3e%3cpath fill='%23383838' d='m5.497 4.904 4.78-4.78a.423.423 0 0 1 .6.598l-5.08 5.08a.423.423 0 0 1-.599 0L.118.722a.423.423 0 0 1 .6-.598l4.78 4.78Z'/%3e%3c/svg%3e ");
                    background-repeat: no-repeat;
                    transition: $transition;
                    transform: translateY(-50%);
                }
            }

            &-one {
                .dropdown-item__title::after {
                    display: none;
                }
            }
        }

        &-submenu__point {
            padding: rem(12px) 0 rem(12px) rem(14px);

            & + & {
                border-top: rem(1px) solid $light-350;
            }
        }

        &-item--active {
            .dropdown-item__point {
                display: block;
            }

            .dropdown-item__title::after {
                top: 40%;
                transform: rotate(180deg);
            }
        }
    }

    // === INTRO ===
    .intro__btn {
        bottom: rem(15px);
        min-width: rem(250px);
        padding: rem(11px) rem(19px);

        &-text {
            font-size: rem(12px);
            line-height: rem(15px);
        }
    }

    // === INTRO ===
    .intro__slider-next {
        right: rem(-5px);
    }

    .intro__slider-prev {
        left: rem(-5px);
    }

    // === ABOUT ===
    .about {
        &__title {
            margin-bottom: rem(17px);
        }

        &__img {
            margin-top: rem(13px);
        }

        &__text + &__text {
            margin-top: rem(11px);
        }

        &__gallery {
            margin-bottom: rem(23px);
        }
    }

    // === SALES ===
    .sales__item {
        margin: 0 0 rem(40px);
    }

    // === CHOSEN ===
    .chosen {
        margin-bottom: rem(20px);

        &__item {
            margin: 0 0 rem(20px) 0;
        }
    }

    // === BASKET ===
    .basket {
        &__result {
            flex-direction: column;
            align-items: flex-end;
        }

        &__total {
            margin-bottom: 20px;
        }

        &__btn {
            max-width: 100%;
        }

        &-product {
            padding: 7px 0;

            &__title {
                font-size: $fs-xs;
            }

            &__price {
                font-size: $fs-s;
            }

            &__img {
                width: 60px;
                height: 70px;
            }
        }

        &-count {
            &__input {
                width: 25px;
                height: 25px;
            }
        }
    }

    .intro__item-img {
        max-height: 230px;
    }
}

@media (max-width: 600px) {
    // === GLOBAL ===
    .container {
        padding: 0 rem(10px);
    }

    // === ABOUT ====
    .about-section {
        padding: rem(21px) 0;
        text-align: center;

        &__pretitle {
            margin-bottom: rem(18px);
            font-size: $fs-xs;
            line-height: $lh-s;
        }

        &__title {
            margin-bottom: rem(14px);
            font-size: $fs-s;
            line-height: $lh-m;
            text-align: center;
        }

        &__info {
            justify-content: unset;
            padding-bottom: rem(31px);

            &-text {
                flex-shrink: 0;
                font-size: $fs-xxs;
                line-height: rem(19px);

                & + & {
                    margin-left: 0;
                }
            }
        }

        .swiper-pagination {
            display: block;
        }
    }

    // === MAON GOODS ===
    .main-goods {
        padding: rem(25px) 0;

        &__title.title {
            font-size: $fs-l;
            line-height: $lh-xl;
        }

        &__wrapper {
            padding-top: rem(19px);
        }

        &__show-all {
            display: block;
        }
    }

    // === SELECTION ===
    .selection {
        margin-bottom: rem(21px);

        &__title {
            font-size: rem(18px);
            line-height: rem(22px);
        }

        &__item {
            width: rem(143px);

            &:not(:nth-child(-n+2)) {
                margin-top: rem(10px);
            }

            &-top {
                padding: rem(5px) rem(8px);
            }

            &-title {
                margin-bottom: rem(4px);
                font-size: rem(12px);
                line-height: rem(15px);
            }

            &-subtitle {
                font-size: rem(10px);
                line-height: rem(12px);
            }

            &-bottom {
                @include img(rem(381px), rem(90px));
            }
        }
    }

    // === SINGLE - BLOG ===
    .single-blog__title {
        font-size: $fs-s;
        line-height: $lh-m;
    }

    // === CATALOG ===
    .catalog__sort {
        display: block;
        padding: rem(10px) 0;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .catalog {
        &__sort-btn {
            font-size: $fs-xs;
            line-height: $lh-s;
        }

        &__title {
            margin-bottom: rem(18px);
        }

        &__mobile-btn {
            padding: rem(15px) rem(21px);
            font-size: $fs-xxs;
            line-height: $lh-xs;
        }

        &__item-title {
            font-size: $fs-xxs;
            line-height: $lh-xs;
        }

        &-price {
            &__label {
                width: rem(140px);
                height: rem(40px);
                padding: rem(10px) rem(15px);
            }

            &__inputs {
                display: flex;
                justify-content: space-between;
                margin-bottom: rem(20px);
            }
        }

        &__result {
            margin-bottom: rem(10px);
        }
    }

    .filter {
        &__title {
            margin-bottom: rem(15px);
            font-size: $fs-xs;
            line-height: $lh-s;
        }

        &__checkbox-fake {
            margin-right: rem(10px);
        }

        &__text {
            font-size: $fs-xxs;
            line-height: $lh-xs;
        }
    }

    // === ORDERING ===
    .ordering__title {
        margin-bottom: rem(22px);
    }

    .pay-method {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    // === GLOBAL ===
    .title {
        font-size: $fs-s;
        line-height: $lh-m;
    }

    .text {
        font-size: $fs-xxs;
        line-height: $lh-s;
    }

    .breadcrumbs {
        margin: rem(20px) 0 rem(20px);
    }

    // === HEADER ===
    .search-form {
        &__input {
            height: rem(30px);
            padding: rem(10px);
            font-size: $fs-xxs;
            line-height: normal;
        }

        &__button {
            width: rem(40px);
            height: rem(30px);
            margin-left: rem(10px);

            svg {
                width: rem(13px);
                height: rem(13px);
            }
        }
    }

    // === SERVICE ===
    .service {
        &__inner {
            flex-direction: column;
            align-items: center;
        }

        &__item {
            width: 80%;
            margin-top: rem(14px);

            &-number {
                min-width: rem(44px);
                max-width: rem(44px);
                height: rem(44px);
                line-height: $lh-l;

                &::after {
                    width: rem(43px);
                    height: rem(43px);
                }
            }
        }
    }

    // === EVENTS ===
    .events-section {
        padding: rem(22px) 0;

        .title {
            margin-bottom: rem(14px);
            font-size: $fs-s;
            line-height: $lh-m;
        }

        &__info-text {
            font-size: $fs-xxs;
            line-height: rem(14px);
        }
    }

    // === MAON GOODS ===
    .main-goods {
        &.popular {
            padding-top: rem(25px);
        }

        &__title.title {
            font-size: $fs-s;
            line-height: $lh-m;
        }

        &__wrapper {
            padding-top: rem(19px);
        }
    }

    // === BLOG PAGE ===
    .blog {
        &__items {
            margin-bottom: rem(14px);
        }

        &__item {
            max-width: rem(296px);

            &:nth-child(n + 2) {
                margin-top: rem(20px);
            }

            &-img img {
                width: rem(296px);
            }

            &-info {
                margin-top: rem(14px);
            }

            &-title {
                margin-bottom: rem(13px);
                font-size: $fs-xxs;
                line-height: $lh-xs;
            }

            &-date {
                font-size: rem(12px);
                line-height: rem(15px);
            }
        }
    }

    // === CATALOG ===
    .catalog__item.card {
        width: rem(140px);
    }

    // === ORDERING ===
    .ordering {
        &__subtitle {
            margin-bottom: rem(21px);
            font-size: $fs-xxs;
            line-height: $lh-xs;
        }

        .input {
            padding: rem(15px) rem(29px);
        }

        &__payment {
            max-width: rem(298px);
        }

        &__inner {
            padding-bottom: rem(450px);
            margin-bottom: rem(27px);
        }
    }

    .payment-details {
        &__item {
            margin-top: rem(5px);
        }
    }

    .payment-detail__select .choices__item--selectable {
        padding: rem(15px) rem(29px);
    }

    .payment-details__additional {
        margin-top: rem(23px);

        .input {
            margin-top: rem(21px);
        }

        &-title {
            font-size: $fs-xxs;
            line-height: $lh-xs;
        }
    }

    .pay-method {
        &__title {
            font-size: $fs-xxs;
            line-height: $lh-xs;
        }

        &__item {
            margin-bottom: rem(15px);

            &-text {
                font-size: $fs-xxs;
                line-height: $lh-xs;
            }

            &-radio-fake {
                width: rem(28px);
                height: rem(28px);
                margin-right: rem(13px);

                &::before {
                    width: rem(14px);
                    height: rem(14px);
                }
            }
        }
    }

    .order {
        &-card {
            padding: rem(14px) rem(18px) rem(17px) rem(17px);

            &__top {
                &-title,
                &-text {
                    font-size: $fs-xxs;
                    line-height: $lh-xs;
                }
            }

            &__items {
                padding: rem(19px) 0 rem(14px);
                margin-top: rem(17px);
            }

            &__item {
                &-author {
                    font-size: rem(12px);
                    line-height: rem(15px);
                }

                &-title,
                &-price {
                    font-size: $fs-xxs;
                    line-height: $lh-xs;
                }
            }
        }
    }

    .ordering-card {
        &__delivery {
            font-size: $fs-xxs;
            line-height: $lh-xs;
        }

        &__total {
            margin-top: rem(14px);

            &-text,
            &-price {
                font-size: rem(16px);
                line-height: rem(20px);
            }
        }
    }

    .payment-detail__select {
        .choices .choices__list--dropdown {
            margin: rem(5px) 0;
        }
    }

    // === BASKET ===

    .basket-product {
        justify-content: space-between;

        &__item {
            display: flex;
            justify-content: unset;
            width: auto;
        }

        &__title {
            font-size: 14px;
        }

        &__img {
            width: 50px;
            height: 60px;
        }
    }

    .basket-count__btn {
        width: 30px;
        height: 30px;
    }

    .basket__info {
        display: none;

        &-item {
            justify-content: unset;
            width: auto;
        }
    }

    .basket__total {
        font-size: 16px;

        &-num {
            font-size: 20px;
        }
    }
}

@media (max-width: 450px) {
    // === HEADER ===
    .header__item {
        &--wish,
        &--basket {
            width: rem(21px);
            height: rem(21px);
        }

        &-count {
            width: rem(18px);
            height: rem(18px);
            font-size: rem(8px);
            line-height: 0;
        }
    }

    .search-button {
        width: rem(18px);
        height: rem(18px);
    }

    .menu__list {
        // height: rem(600px);
    }

    // === INTRO ===
    .intro__btn {
        min-width: rem(192px);

        &-text {
            white-space: nowrap;
        }
    }

    .sales__item {
        margin: 0 0 rem(20px) 0;
    }

    // === DELIVERY ===
    .delivery {
        margin-bottom: rem(21px);

        &__subtitle {
            font-size: $fs-xxs;
            line-height: $lh-xs;
        }
    }

    .delivery__point {
        &-num {
            min-width: rem(44px);
            max-width: rem(44px);
            height: rem(44px);
            font-size: $fs-m;
            line-height: $lh-l;

            &::after {
                width: rem(44px);
                height: rem(44px);
            }
        }

        &-text {
            font-size: $fs-xxs;
            line-height: $lh-xs;
        }
    }

    // === PRODUCT ===
    .product {
        &__inner {
            margin-bottom: 0;
        }

        &__gallery {
            width: rem(255px);
            height: rem(333px);
            margin-top: rem(50px);
        }

        &__slider {
            padding-top: rem(15px);
        }

        &__wish {
            top: rem(6px);
            right: rem(13px);
            width: rem(46px);
            height: rem(46px);

            span {
                width: rem(20px);
                height: rem(19px);
            }
        }

        &__author {
            // top: -74%;
            font-size: rem(12px);
            font-weight: $fw-light;
            line-height: rem(15px);
            color: #262626;
        }

        &__title {
            // top: -70%;
            font-size: $fs-s;
            line-height: $lh-m;
            color: $dark-100;
        }

        &__status {
            padding-left: rem(23px);
            margin-top: rem(16px);
            font-size: $fs-xxs;
            line-height: $lh-xs;

            &::before {
                width: rem(12px);
                height: rem(12px);
            }
        }

        &__order {
            justify-content: space-between;
            padding: rem(11px) 0;
        }

        &__price {
            margin-right: 0;
            font-size: $fs-s;
            line-height: $lh-m;
        }

        &__description-text {
            margin-top: rem(14px);
        }
    }

    // === SUCCESSFUL ===
    .successful {
        &__title {
            margin-bottom: rem(18px);
        }
    }

    .order-value {
        margin-bottom: rem(12px);

        &__text {
            margin-right: rem(21px);
            font-size: $fs-xxs;
            line-height: $lh-xs;
        }

        &__amount {
            font-size: $fs-xs;
            line-height: $lh-s;
        }
    }

    .payment-option {
        margin-bottom: rem(30px);
        font-size: $fs-xxs;
        line-height: $lh-xs;
    }

    .ordering-card__pay-method {
        font-size: rem(12px);
        line-height: rem(15px);
    }

    .intro__item-img {
        max-height: 170px;
    }

    .category-price__label {
        width: 48%;
        height: rem(38px);
        padding: rem(8px) rem(10px);
    }
}

@media (max-width: 400px) {
    // === HEADER ===
    .menu__list {
        top: 0;
        width: rem(300px);
        height: calc(100vh - 100px);
        padding: rem(15px) rem(15px);
    }

    // === CONTACT PAGE ===
    .contact {
        &__address,
        &__phone,
        &__email,
        &__social-title {
            font-size: rem(14px);
            line-height: rem(17px);
        }

        &__address {
            margin-bottom: rem(19px);
        }

        &__phone + &__phone {
            margin-top: rem(11px);
        }

        &__email {
            margin-top: rem(17px);
        }

        &__social {
            margin-top: rem(20px);
        }
    }
}
