@import "vars";

@media (max-width: 1250px) {
    // === INTRO ===
    .intro__slider-next::before {
        right: 0%;
    }

    .intro__slider-prev::before {
        left: 0%;
    }

    .intro__item-img {
        width: 93%;
        // height: auto;
        margin: 0 auto;
    }

    // === MAIN GOODS ===
    .main-goods {
        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }
    }
}

@media (max-width: 1200px) {
    // === SELECTION ===
    .selection__item {
        width: 340px;
    }

    // === CHOSEN ===
    .chosen__items {
        justify-content: space-around;
    }

    // === BLOG PAGE ===
    .blog {
        &__items {
            grid-template-columns: 1fr 1fr;
        }

        &__item {
            display: block;
            margin: 0 auto;

            &:nth-child(n+3) {
                margin-top: 50px;
            }
        }
    }

    .blog__item:nth-child(6n+6),
    .blog__item:nth-child(7n+7) {
        .blog__item-img {
            height: 260px;
        }
    }

    // === CATALOG ===
    .catalog {
        &__items {
            justify-content: space-evenly;
        }

        &__item {
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 1150px) {
    // === HEADER ===
    .header-social {
        margin-right: 0;
    }

    // === FOOTER ===
    .footer__menu-item + .footer__menu-item {
        margin-left: 20px;
    }
}

@media (max-width: 1100px) {
    // === HEADER ===
    .menu__list-item + .menu__list-item {
        margin-left: 20px;
    }

    // === FOOTER ===
    .footer__menu-item {
        font-size: $fs-xs;
        line-height: $lh-s;

        & + & {
            margin-left: 10px;
        }
    }

    // === EVENTS ===
    .events-section__img img {
        max-width: 425px;
    }

    // === SELECTION ===
    .selection {
        &__items {
            justify-content: space-around;
        }

        &__item {
            margin-right: 6px;

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }

    // === CONTACT PAGE ===
    .contact__map {
        margin-left: 10px;
    }
}

@media (max-width: 1000px) {
    // === HEADER ===
    .header-submenu__text {
        padding-left: 5px;
    }

    .menu__list-item {
        font-size: 16px;
        line-height: 20px;

        & + & {
            margin-left: 10px;
        }
    }

    .dropdown {
        width: 100%;
        padding: 20px 20px 10px 20px;
    }

    // === FOOTER ===
    .footer__logo .logo__img {
        width: 120px;
        height: 65px;
    }

    // === EVENTS - SECTION ===
    .events-section {
        padding: 35px 0;

        .title {
            font-size: $fs-l;
            line-height: $lh-xl;
        }

        &__img img {
            max-width: 400px;
            max-height: 275px;
        }

        &__info-text {
            margin-bottom: 15px;
            font-size: 15px;
            line-height: 18px;
        }
    }

    // === ABOUT ===
    .about {
        &__title {
            margin-bottom: 20px;
        }

        &__img {
            @include img(390px, 380px);
        }
    }

    // === EVENTS ===
    .events {
        &__content {
            display: flex;
            flex-direction: column;
        }

        &__images {
            flex-wrap: wrap;
            justify-content: space-around;
            order: 1;
            margin-top: 20px;
        }

        &__img {
            margin-left: 0;
        }
    }

    // === DELIVERY ===
    .delivery__content .delivery__text {
        margin-left: 10px;
    }

    // === SINGLE - BLOG ===
    .single-blog {
        &__content {
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }

        &__info {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
        }

        &__gallery {
            flex-wrap: wrap;
            justify-content: center;

            &-item {
                margin: 10px 10px 0;

                & + & {
                    margin-left: 0;
                }
            }
        }
    }

    // === CONTACT PAGE ===
    .contact__info {
        max-width: 310px;
    }

    // === ORDERING ===
    .ordering {
        &__form-inner {
            flex-direction: column;
        }

        &__indent {
            margin-right: 0;
        }

        &__payment {
            margin-top: 20px;
        }
    }
}

@media (max-width: 950px) {
    // === CATALOG ===
    .category {
        margin-right: 0;
    }

    .catalog__item.card {
        width: 252px;
    }
}

@media (max-width: 900px) {
    // === HEADER ===
    .header {
        &-social {
            display: none;
        }

        &-select {
            display: none;
        }

        &-submenu__text {
            display: none;
        }
    }

    .dropdown {
        padding: 10px 10px 10px;

        &-item {
            font-size: 16px;
            line-height: 20px;
        }
    }

    // === FOOTER ===
    .footer {
        &__inner {
            flex-direction: column;
            padding: 16px 0 20px 0;
        }

        &__logo {
            margin-bottom: 22px;
        }

        &__menu {
            margin-bottom: 26px;

            &-list {
                flex-direction: column;
                align-items: center;
            }

            &-item {
                & + & {
                    margin-top: 13px;
                    margin-left: 0;
                }
            }
        }
    }

    // === INTRO ===
    .intro__btn {
        bottom: 25px;
        min-width: 300px;
        padding: 15px;
    }

    // === SERVICE ===
    .service__item-number {
        min-width: 48px;
        max-width: 48px;
        height: 48px;
        margin-right: 5px;
        font-size: $fs-m;
        line-height: $lh-m;

        &::before {
            width: 48px;
            height: 48px;
        }
    }

    // === ABOUT ===
    .about {
        &__content {
            flex-direction: column;
        }

        &__img {
            width: 100%;
            margin-top: 20px;
            margin-left: 0;
            @include img(446px, 446px);
        }

        &__info {
            width: 100%;
        }

        &__quote {
            margin-bottom: 24px;
        }

        &__gallery {
            flex-direction: column;
            align-items: center;

            &-img + &-img {
                margin-top: 15px;
                margin-left: 0;
            }
        }
    }

    // === SALES ===
    .sales__items {
        justify-content: space-evenly;
    }

    // === DELIVERY ===
    .delivery {
        &__item + &__item {
            margin-top: 15px;
        }

        &__subtitle {
            font-size: $fs-l;
            line-height: $lh-xl;
        }

        &__info + &__info {
            margin-top: 20px;
        }

        &__content &__subtitle {
            margin-bottom: 30px;
        }
    }

    // === PRODUCT ===
    .product {
        &__gallery {
            width: 350px;
            height: 400px;
        }

        &__info {
            margin-left: 10px;
        }
    }

    // === CATALOG ===
    .category {
        &__mobile-btn {
            display: flex;
        }

        &__inner {
            height: 0;
            padding: 0 19px 21px 19px;
            margin-bottom: 20px;
            visibility: hidden;
            border-radius: 0 0 5px 5px;
            opacity: 0;
            transition: $transition;
        }

        &--active {
            .category__inner {
                height: 100%;
                visibility: visible;
                opacity: 1;
            }

            .category__mobile-btn::after {
                transform: rotate(-180deg);
            }
        }
    }

    .catalog {
        &__content {
            flex-direction: column;
        }

        &__items {
            justify-content: space-between;
        }

        &__item.card {
            margin: 0 auto 15px;
        }
    }

    // === ORDERING ===
    .pay-method {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;

        &__box {
            flex-direction: column;
            margin-top: 0;
        }

        &__items {
            flex-direction: column;
            width: 100%;
            margin-top: 20px;
        }

        &__title {
            width: 100%;
        }
    }

    .ordering {
        &__inner {
            position: relative;
            padding-bottom: 500px;
        }

        &__payment {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 0 auto;
        }
    }

    .payment-details__items {
        flex-direction: column;

        .payment-details__item {
            width: 100%;
        }
    }
}

@media (max-width: 850px) {
    // === BLOG PAGE ===
    .blog {
        &__items {
            grid-template-columns: 1fr;
        }

        &__item:nth-child(n + 2) {
            margin-top: 50px;
        }
    }
}

@media (max-width: 800px) {
    // === REQUEST ===
    .request {
        &__title {
            font-size: $fs-m;
            line-height: $lh-l;
        }

        &__text {
            font-size: $fs-xs;
            line-height: $lh-s;
        }

        &__form {
            flex-direction: column;
            align-items: center;

            &-item {
                width: 100%;

                & + & {
                    margin-top: 8px;
                    margin-left: 0;
                }
            }
        }
    }

    // === SERVICE ===
    .service {
        padding: 18px 0;

        &__inner {
            flex-wrap: wrap;
        }

        &__item {
            width: 40%;
            margin-top: 20px;

            &-number {
                margin-right: 13px;

                &::after {
                    width: 48px;
                    height: 48px;
                }
            }
        }
    }

    // === EVENTS - SECTION ===
    .events-section {
        &__inner {
            flex-direction: column;
        }

        &__info {
            width: 100%;
            padding-left: 0;
            text-align: center;

            &-title {
                text-align: center;
            }
        }

        &__img {
            order: 1;
            margin-top: 19px;
        }
    }

    // === SELECTION ===
    .selection {
        &__item {
            width: 270px;

            &-top {
                padding: 11px 17px;
            }

            &-title {
                margin-bottom: 5px;
                font-size: $fs-m;
                line-height: $lh-l;
            }

            &-subtitle {
                font-size: $fs-xs;
                line-height: $lh-s;
            }
        }
    }

    // === DELIVERY ===
    .delivery {
        &__subtitle {
            font-size: $fs-m;
            line-height: $lh-l;
        }

        &__item {
            flex-direction: column;

            & + & {
                margin-top: 20px;
            }
        }

        &__content {
            margin: 30px 0 30px;

            .delivery__text {
                margin-top: 20px;
                margin-left: 0;
            }
        }
    }

    // === SINGLE - BLOG ===
    .single-blog__gallery-item {
        margin: 10px 0;
    }

    // === PRODUCT ===
    .product__attribute-value {
        margin-left: 10px;
    }
}

@media (max-width: 700px) {
    // === GLOBAL ===
    .breadcrumbs {
        margin: 25px 0 25px;
    }

    // === EVENTS ===
    .events {
        margin-bottom: 20px;

        &__images {
            flex-direction: column;
            align-items: center;
        }

        &__img + &__img {
            margin-top: 20px;
        }
    }

    // === SALES ===
    .sales__title {
        margin-bottom: 25px;
    }

    // === SINGLE - BLOG ===
    .single-blog__title {
        margin-bottom: 17px;
    }

    // === CONTACT PAGE ===
    .contact {
        &__title {
            margin-bottom: 20px;
        }

        &__content {
            flex-direction: column;
            align-items: flex-start;
        }

        &__info {
            max-width: 100%;
            margin-bottom: 20px;
        }

        &__map {
            width: 100%;
            margin-left: 0;
        }
    }

    // === PRODUCT ===
    .product {
        &__inner {
            position: relative;
        }

        &__content {
            flex-direction: column;
            align-items: center;
        }

        &__info {
            width: 100%;
            margin-left: 0;
        }

        &__gallery {
            width: 350px;
            height: 430px;
            margin-top: 65px;
        }

        &__arrow-next,
        &__arrow-prev {
            display: none;
        }

        &__author {
            position: absolute;
            top: 0;
        }

        &__title {
            position: absolute;
            top: 15px;
        }
    }
}

@media (max-width: 650px) {
    // === HEADER ===
    .search-button-mobile {
        display: block;
    }

    .burger-btn {
        display: block;
    }

    .header {
        &__phone {
            display: none;
        }

        &__item.search-button {
            display: none;
        }

        &-top {
            align-items: center;
            padding: 12px 0;
        }

        & .logo__img {
            width: 96px;
            height: 52px;
        }

        &__mobile-items {
            display: flex;
        }

        &-fixed {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            box-shadow: 0 4px 10px rgba(71, 71, 71, 0.2);
            animation-name: show-header;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;

            .header-top {
                border: none;
            }
        }

        &-submenu {
            order: 1;
            padding-top: 28px;
            margin-top: 17px;
            border-top: 1px solid $dark-250;

            &__text {
                display: block;
                padding-left: 0;
                color: #1b1b1b;
            }

            &__burger {
                display: none;
            }
        }

        &-bottom {
            height: 100%;
        }
    }

    .menu__list {
        position: absolute;
        top: 15px;
        left: -100%;
        flex-direction: column;
        width: 357px;
        height: 654px;
        padding: 21px 24px;
        overflow-y: scroll;
        background-color: $light-50;
        border-radius: 5px;
        box-shadow: 0 0 30px rgba(71, 71, 71, 0.1);
        opacity: 0;
        transition: $transition;

        &-item {
            padding: 12px 0;

            & + & {
                margin-left: 0;
                border-top: 1px solid $light-350;
            }

            &:nth-child(2) {
                border-top: none;
            }
        }

        .header-submenu {
            padding-top: 28px;
        }
    }

    .dropdown {
        position: relative;
        top: 0;
        left: 0;
        order: 1;
        width: 100%;
        height: 100%;
        padding: 0 0 0 0;
        border-radius: 0;
        box-shadow: none;
        opacity: 1;

        &-items {
            column-count: 1;
        }

        &-item {
            margin: 0;
            font-size: $fs-s;
            line-height: $lh-m;
            color: #1b1b1b;
            border-top: 1px solid $light-350;

            &__title,
            &__point {
                padding: 12px 0;
            }

            &__point {
                display: none;
                border-top: 1px solid $light-350;

                & + & {
                    margin-top: 0;
                }
            }

            &__title {
                position: relative;
                margin-bottom: 0;
                font-weight: $fw-regular;

                &::after {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 11px;
                    height: 6px;
                    content: "";
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 11 6'%3e%3cpath fill='%23383838' d='m5.497 4.904 4.78-4.78a.423.423 0 0 1 .6.598l-5.08 5.08a.423.423 0 0 1-.599 0L.118.722a.423.423 0 0 1 .6-.598l4.78 4.78Z'/%3e%3c/svg%3e ");
                    background-repeat: no-repeat;
                    transition: $transition;
                    transform: translateY(-50%);
                }
            }

            &-one {
                .dropdown-item__title::after {
                    display: none;
                }
            }
        }

        &-submenu__point {
            padding: 12px 0 12px 14px;

            & + & {
                border-top: 1px solid $light-350;
            }
        }

        &-item--active {
            .dropdown-item__point {
                display: block;
            }

            .dropdown-item__title::after {
                top: 40%;
                transform: rotate(180deg);
            }
        }
    }

    // === INTRO ===
    .intro__btn {
        bottom: 15px;
        min-width: 250px;
        padding: 11px 19px;

        &-text {
            font-size: 12px;
            line-height: 15px;
        }
    }

    // === INTRO ===
    .intro__slider-next::before {
        right: -5px;
    }

    .intro__slider-prev::before {
        left: -5px;
    }

    // === ABOUT ===
    .about {
        &__title {
            margin-bottom: 17px;
        }

        &__img {
            margin-top: 13px;
        }

        &__text + &__text {
            margin-top: 11px;
        }

        &__gallery {
            margin-bottom: 23px;
        }
    }

    // === SALES ===
    .sales__item {
        margin: 0 0 40px;
    }

    // === CHOSEN ===
    .chosen {
        margin-bottom: 20px;

        &__item {
            margin: 0 0 20px 0;
        }
    }
}

@media (max-width: 600px) {
    // === GLOBAL ===
    .container {
        padding: 0 10px;
    }

    // === ABOUT ====
    .about-section {
        padding: 21px 0;
        text-align: center;

        &__pretitle {
            margin-bottom: 18px;
            font-size: $fs-xs;
            line-height: $lh-s;
        }

        &__title {
            margin-bottom: 14px;
            font-size: $fs-s;
            line-height: $lh-m;
            text-align: center;
        }

        &__info {
            justify-content: unset;
            padding-bottom: 31px;

            &-text {
                flex-shrink: 0;
                font-size: $fs-xxs;
                line-height: 19px;

                & + & {
                    margin-left: 0;
                }
            }
        }

        .swiper-pagination {
            display: block;
        }
    }

    // === MAON GOODS ===
    .main-goods {
        &__title.title {
            font-size: $fs-l;
            line-height: $lh-xl;
        }

        &__wrapper {
            padding-top: 19px;
        }

        &__show-all {
            display: block;
        }
    }

    // === SELECTION ===
    .selection {
        margin-bottom: 21px;

        &__title {
            font-size: 18px;
            line-height: 22px;
        }

        &__item {
            width: 143px;

            &:not(:nth-child(-n+2)) {
                margin-top: 10px;
            }

            &-top {
                padding: 5px 8px;
            }

            &-title {
                margin-bottom: 4px;
                font-size: 12px;
                line-height: 15px;
            }

            &-subtitle {
                font-size: 10px;
                line-height: 12px;
            }
        }
    }

    // === SINGLE - BLOG ===
    .single-blog__title {
        font-size: $fs-s;
        line-height: $lh-m;
    }

    // === CATALOG ===
    .catalog__sort {
        display: block;
        padding: 10px 0;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .catalog {
        &__sort-btn {
            font-size: $fs-xs;
            line-height: $lh-s;
        }

        &__title {
            margin-bottom: 18px;
        }

        &__mobile-btn {
            padding: 15px 21px;
            font-size: $fs-xxs;
            line-height: $lh-xs;
        }

        &__item-title {
            font-size: $fs-xxs;
            line-height: $lh-xs;
        }

        &-price {
            &__label {
                width: 140px;
                height: 40px;
                padding: 10px 15px;
            }

            &__inputs {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }
        }

        &__result {
            margin-bottom: 10px;
        }
    }

    .filter {
        &__title {
            margin-bottom: 15px;
            font-size: $fs-xs;
            line-height: $lh-s;
        }

        &__checkbox-fake {
            margin-right: 10px;
        }

        &__text {
            font-size: $fs-xxs;
            line-height: $lh-xs;
        }
    }

    // === ORDERING ===
    .ordering__title {
        margin-bottom: 22px;
    }

    .pay-method {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    // === GLOBAL ===
    .title {
        font-size: $fs-s;
        line-height: $lh-m;
    }

    .text {
        font-size: $fs-xxs;
        line-height: $lh-s;
    }

    .breadcrumbs {
        margin: 20px 0 20px;
    }

    // === HEADER ===
    .search-form {
        &__input {
            height: 30px;
            padding: 10px;
            font-size: $fs-xxs;
            line-height: normal;
        }

        &__button {
            width: 40px;
            height: 30px;
            margin-left: 10px;

            svg {
                width: 13px;
                height: 13px;
            }
        }
    }

    // === SERVICE ===
    .service {
        &__inner {
            flex-direction: column;
            align-items: center;
        }

        &__item {
            width: 80%;
            margin-top: 14px;

            &-number {
                min-width: 44px;
                max-width: 44px;
                height: 44px;
                line-height: $lh-l;

                &::after {
                    width: 43px;
                    height: 43px;
                }
            }
        }
    }

    // === EVENTS ===
    .events-section {
        padding: 22px 0;

        .title {
            margin-bottom: 14px;
            font-size: $fs-s;
            line-height: $lh-m;
        }

        &__info-text {
            font-size: $fs-xxs;
            line-height: 14px;
        }
    }

    // === MAON GOODS ===
    .main-goods {
        &.popular {
            padding-top: 25px;
        }

        &__title.title {
            font-size: $fs-s;
            line-height: $lh-m;
        }

        &__wrapper {
            padding-top: 19px;
        }
    }

    // === BLOG PAGE ===
    .blog {
        &__items {
            margin-bottom: 14px;
        }

        &__item {
            max-width: 296px;

            &:nth-child(n + 2) {
                margin-top: 20px;
            }

            &-img img {
                width: 296px;
            }

            &-info {
                margin-top: 14px;
            }

            &-title {
                margin-bottom: 13px;
                font-size: $fs-xxs;
                line-height: $lh-xs;
            }

            &-date {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }

    // === CATALOG ===
    .catalog__item.card {
        width: 140px;
    }

    // === ORDERING ===
    .ordering {
        &__subtitle {
            margin-bottom: 21px;
            font-size: $fs-xxs;
            line-height: $lh-xs;
        }

        .input {
            padding: 15px 29px;
        }
    }

    .payment-details {
        &__item {
            margin-top: 5px;
        }
    }

    .payment-detail__select .choices__item--selectable {
        padding: 15px 29px;
    }

    .payment-details__additional {
        margin-top: 23px;

        .input {
            margin-top: 21px;
        }

        &-title {
            font-size: $fs-xxs;
            line-height: $lh-xs;
        }
    }

    .pay-method {
        &__title {
            font-size: $fs-xxs;
            line-height: $lh-xs;
        }

        &__item {
            margin-bottom: 15px;

            &-text {
                font-size: $fs-xxs;
                line-height: $lh-xs;
            }

            &-radio-fake {
                width: 28px;
                height: 28px;
                margin-right: 13px;

                &::before {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }

    .order {
        &-card {
            padding: 14px 18px 17px 17px;

            &__top {
                &-title,
                &-text {
                    font-size: $fs-xxs;
                    line-height: $lh-xs;
                }
            }

            &__items {
                padding: 19px 0 14px;
                margin-top: 17px;
            }

            &__item {
                &-author {
                    font-size: 12px;
                    line-height: 15px;
                }

                &-title,
                &-price {
                    font-size: $fs-xxs;
                    line-height: $lh-xs;
                }
            }
        }
    }

    .ordering-card {
        &__delivery {
            font-size: $fs-xxs;
            line-height: $lh-xs;
        }

        &__total {
            margin-top: 14px;

            &-text,
            &-price {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    .ordering {
        &__payment {
            max-width: 298px;
        }

        &__inner {
            padding-bottom: 450px;
            margin-bottom: 27px;
        }
    }

    .payment-detail__select {
        .choices .choices__list--dropdown {
            margin: 5px 0;
        }
    }
}

@media (max-width: 450px) {
    // === HEADER ===
    .header__item {
        &--wish,
        &--basket {
            width: 21px;
            height: 21px;
        }

        &-count {
            width: 18px;
            height: 18px;
            font-size: 8px;
            line-height: 0;
        }
    }

    .search-button {
        width: 18px;
        height: 18px;
    }

    .menu__list {
        height: 600px;
    }

    // === INTRO ===
    .intro__btn {
        min-width: 192px;

        &-text {
            white-space: nowrap;
        }
    }

    .sales__item {
        margin: 0 0 20px 0;
    }

    // === DELIVERY ===
    .delivery {
        margin-bottom: 21px;

        &__subtitle {
            font-size: $fs-xxs;
            line-height: $lh-xs;
        }
    }

    .delivery__point {
        &-num {
            min-width: 44px;
            max-width: 44px;
            height: 44px;
            font-size: $fs-m;
            line-height: $lh-l;

            &::after {
                width: 44px;
                height: 44px;
            }
        }

        &-text {
            font-size: $fs-xxs;
            line-height: $lh-xs;
        }
    }

    // === PRODUCT ===
    .product {
        &__inner {
            margin-bottom: 0;
        }

        &__gallery {
            width: 255px;
            height: 333px;
            margin-top: 50px;
        }

        &__slider {
            padding-top: 15px;
        }

        &__wish {
            top: 6px;
            right: 13px;
            width: 46px;
            height: 46px;

            span {
                width: 20px;
                height: 19px;
            }
        }

        &__author {
            font-size: 12px;
            font-weight: $fw-light;
            line-height: 15px;
            color: #262626;
        }

        &__title {
            font-size: $fs-s;
            line-height: $lh-m;
            color: $dark-100;
        }

        &__status {
            padding-left: 23px;
            margin-top: 16px;
            font-size: $fs-xxs;
            line-height: $lh-xs;

            &::before {
                width: 12px;
                height: 12px;
            }
        }

        &__order {
            justify-content: space-between;
            padding: 11px 0;
        }

        &__price {
            margin-right: 0;
            font-size: $fs-s;
            line-height: $lh-m;
        }

        &__description-text {
            margin-top: 14px;
        }
    }
}

@media (max-width: 400px) {
    // === HEADER ===
    .menu__list {
        top: 0;
        width: 300px;
        height: 500px;
        padding: 15px 15px;
    }

    // === CONTACT PAGE ===
    .contact {
        &__address,
        &__phone,
        &__email,
        &__social-title {
            font-size: 14px;
            line-height: 17px;
        }

        &__address {
            margin-bottom: 19px;
        }

        &__phone + &__phone {
            margin-top: 11px;
        }

        &__email {
            margin-top: 17px;
        }

        &__social {
            margin-top: 20px;
        }
    }
}
