@import "vars";

@media (max-width: 1250px) {
    // === INTRO ===
    .intro-slider-next::before {
        right: 0%;
    }

    .intro-slider-prev::before {
        left: 0%;
    }

    .intro-item__img {
        width: 93%;
        margin: 0 auto;
    }
}

@media (max-width: 1150px) {
    // === HEADER ===
    .header-social {
        margin-right: 0;
    }

    // === FOOTER ===
    .footer-menu__item + .footer-menu__item {
        margin-left: 20px;
    }
}

@media (max-width: 1100px) {
    // === HEADER ===
    .menu__list-item + .menu__list-item {
        margin-left: 20px;
    }

    // === FOOTER ===
    .footer-menu__item {
        font-size: $fs-xs;
        line-height: $lh-s;

        & + & {
            margin-left: 10px;
        }
    }

    // === MEASURE ===
    .measure-img img {
        max-width: 425px;
    }
}

@media (max-width: 1000px) {
    // === HEADER ===
    .header-submenu__text {
        padding-left: 5px;
    }

    .menu__list-item {
        font-size: 16px;
        line-height: 20px;

        & + & {
            margin-left: 10px;
        }
    }

    .dropdown {
        width: 100%;
        padding: 20px 20px 10px 20px;
    }

    // === FOOTER ===
    .footer__logo .logo__img {
        width: 120px;
        height: 65px;
    }

    // === MEASURE ===
    .measure {
        padding-top: 35px;

        .title {
            font-size: $fs-l;
            line-height: $lh-xl;
        }

        &-img img {
            max-width: 400px;
            max-height: 275px;
        }

        &-info__text {
            margin-bottom: 15px;
            font-size: 15px;
            line-height: 18px;
        }
    }
}

@media (max-width: 900px) {
    // === HEADER ===
    .header {
        &-social {
            display: none;
        }

        &-select {
            display: none;
        }

        &-submenu__text {
            display: none;
        }
    }

    .dropdown {
        padding: 10px 10px 10px;

        &-item {
            font-size: 16px;
            line-height: 20px;
        }
    }

    // === FOOTER ===
    .footer {
        &-inner {
            flex-direction: column;
            padding: 16px 0 20px 0;
        }

        &__logo {
            margin-bottom: 22px;
        }

        &-menu {
            margin-bottom: 26px;

            &__list {
                flex-direction: column;
                align-items: center;
            }

            &__item {
                & + & {
                    margin-top: 13px;
                    margin-left: 0;
                }
            }
        }
    }

    // === INTRO ===
    .intro__btn {
        bottom: 25px;
        min-width: 300px;
        padding: 15px;
    }

    // === SERVICE ===
    .service__item-number {
        min-width: 48px;
        max-width: 48px;
        height: 48px;
        margin-right: 5px;
        font-size: $fs-m;
        line-height: $lh-m;

        &::before {
            width: 48px;
            height: 48px;
        }
    }
}

@media (max-width: 800px) {
    // === REQUEST ===
    .request {
        &__title {
            font-size: $fs-m;
            line-height: $lh-l;
        }

        &__text {
            font-size: $fs-xs;
            line-height: $lh-s;
        }

        &-form {
            flex-direction: column;
            align-items: center;

            &__item {
                width: 100%;

                & + & {
                    margin-top: 8px;
                    margin-left: 0;
                }
            }
        }
    }

    // === SERVICE ===
    .service {
        padding: 18px 0;

        &-inner {
            flex-wrap: wrap;
        }

        &__item {
            width: 40%;
            margin-top: 20px;

            &-number {
                margin-right: 13px;

                &::after {
                    width: 48px;
                    height: 48px;
                }
            }
        }
    }

    // === MEASURE ===
    .measure {
        &-inner {
            flex-direction: column;
        }

        &-info {
            width: 100%;
            padding-left: 0;
            text-align: center;

            &__title {
                text-align: center;
            }
        }

        &-img {
            order: 1;
            margin-top: 19px;
        }
    }
}

@media (max-width: 650px) {
    // === HEADER ===
    .search-button-mobile {
        display: block;
    }

    .burger-btn {
        display: block;
    }

    .header {
        &__phone {
            display: none;
        }

        &__item.search-button {
            display: none;
        }

        &-top {
            align-items: center;
            padding: 12px 0;
        }

        & .logo__img {
            width: 96px;
            height: 52px;
        }

        &__mobile-items {
            display: flex;
        }

        &-fixed {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            box-shadow: 0 4px 10px rgba(71, 71, 71, 0.2);
            animation-name: show-header;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;

            .header-top {
                border: none;
            }
        }

        &-submenu {
            order: 1;
            padding-top: 28px;
            margin-top: 17px;
            border-top: 1px solid $dark-250;

            &__text {
                display: block;
                padding-left: 0;
                color: #1b1b1b;
            }

            &__burger {
                display: none;
            }
        }

        &-bottom {
            height: 100%;
        }
    }

    .menu__list {
        position: absolute;
        top: 15px;
        left: -100%;
        flex-direction: column;
        width: 357px;
        height: 654px;
        padding: 21px 24px;
        overflow-y: scroll;
        background-color: $light-50;
        border-radius: 5px;
        box-shadow: 0 0 30px rgba(71, 71, 71, 0.1);
        opacity: 0;
        transition: $transition;

        &-item {
            padding: 12px 0;

            & + & {
                margin-left: 0;
                border-top: 1px solid $light-350;
            }

            &:nth-child(2) {
                border-top: none;
            }
        }

        .header-submenu {
            padding-top: 28px;
        }
    }

    .dropdown {
        position: relative;
        top: 0;
        left: 0;
        order: 1;
        width: 100%;
        height: 100%;
        padding: 0 0 0 0;
        border-radius: 0;
        box-shadow: none;
        opacity: 1;

        &-items {
            column-count: 1;
        }

        &-item {
            margin: 0;
            font-size: $fs-s;
            line-height: $lh-m;
            color: #1b1b1b;
            border-top: 1px solid $light-350;

            &__title,
            &__point {
                padding: 12px 0;
            }

            &__point {
                display: none;
                border-top: 1px solid $light-350;

                & + & {
                    margin-top: 0;
                }
            }

            &__title {
                position: relative;
                margin-bottom: 0;
                font-weight: $fw-regular;

                &::after {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 11px;
                    height: 6px;
                    content: "";
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 11 6'%3e%3cpath fill='%23383838' d='m5.497 4.904 4.78-4.78a.423.423 0 0 1 .6.598l-5.08 5.08a.423.423 0 0 1-.599 0L.118.722a.423.423 0 0 1 .6-.598l4.78 4.78Z'/%3e%3c/svg%3e ");
                    background-repeat: no-repeat;
                    transition: $transition;
                    transform: translateY(-50%);
                }
            }

            &-one {
                .dropdown-item__title::after {
                    display: none;
                }
            }
        }

        &-submenu__point {
            padding: 12px 0 12px 14px;

            & + & {
                border-top: 1px solid $light-350;
            }
        }

        &-item--active {
            .dropdown-item__point {
                display: block;
            }

            .dropdown-item__title::after {
                top: 40%;
                transform: rotate(180deg);
            }
        }
    }

    // === INTRO ===
    .intro__btn {
        bottom: 15px;
        min-width: 250px;
        padding: 11px 19px;

        &-text {
            font-size: 12px;
            line-height: 15px;
        }
    }

    // === INTRO ===
    .intro-slider-next::before {
        right: -5px;
    }

    .intro-slider-prev::before {
        left: -5px;
    }
}

@media (max-width: 600px) {
    // === ABOUT ====
    .about {
        padding: 21px 0;
        text-align: center;

        &__pretitle {
            margin-bottom: 18px;
            font-size: $fs-xs;
            line-height: $lh-s;
        }

        &__title {
            margin-bottom: 14px;
            font-size: $fs-s;
            line-height: $lh-m;
            text-align: center;
        }

        &-info {
            justify-content: unset;
            padding-bottom: 31px;

            &__text {
                flex-shrink: 0;
                font-size: $fs-xxs;
                line-height: 19px;

                & + & {
                    margin-left: 0;
                }
            }
        }

        .swiper-pagination {
            display: block;
        }
    }
}

@media (max-width: 500px) {
    // === HEADER ===
    .search-form {
        &__input {
            height: 30px;
            padding: 10px;
            font-size: $fs-xxs;
            line-height: normal;
        }

        &__button {
            width: 40px;
            height: 30px;
            margin-left: 10px;

            svg {
                width: 13px;
                height: 13px;
            }
        }
    }

    // === SERVICE ===
    .service {
        &-inner {
            flex-direction: column;
            align-items: center;
        }

        &__item {
            width: 80%;
            margin-top: 14px;

            &-number {
                min-width: 44px;
                max-width: 44px;
                height: 44px;
                line-height: $lh-l;

                &::after {
                    width: 43px;
                    height: 43px;
                }
            }
        }
    }

    // === MEASURE ===
    .measure {
        padding-top: 22px;

        .title {
            margin-bottom: 14px;
            font-size: $fs-s;
            line-height: $lh-m;
        }

        &-info {
            &__text {
                font-size: $fs-xxs;
                line-height: 14px;
            }
        }
    }
}

@media (max-width: 450px) {
    // === HEADER ===
    .header__item {
        &--wish,
        &--basket {
            width: 21px;
            height: 21px;
        }

        &-count {
            width: 18px;
            height: 18px;
            font-size: 8px;
            line-height: 0;
        }
    }

    .search-button {
        width: 18px;
        height: 18px;
    }

    .menu__list {
        height: 600px;
    }

    // === INTRO ===
    .intro__btn {
        min-width: 192px;

        &-text {
            white-space: nowrap;
        }
    }
}

@media (max-width: 400px) {
    // === HEADER ===
    .menu__list {
        top: 0;
        width: 300px;
        height: 500px;
        padding: 15px 15px;
    }
}
