@import "fonts";
@import "vars";
@import "global";

// === HEADER ===

@import "sections-styles/header";

// === FOOTER ===

@import "sections-styles/footer";

// === REQUEST ===

@import "sections-styles/request";

// === INTRO ===

@import "sections-styles/intro";

// === SERVICE ===

@import "sections-styles/service";

// === ABOUT-SECTION ===

@import "sections-styles/about-section";

// === EVENTS ===

@import "sections-styles/events-section";

// === GOODS SLIDER ===

@import "sections-styles/main-goods";

// === SELECTION ===

@import "sections-styles/selection";

// === ABOUT PAGE ===

.about {
    &__title {
        text-align: left;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
    }

    &__info {
        width: 47%;
    }

    &__text + &__text {
        margin-top: 21px;
    }

    &__img {
        width: 37%;
        margin-left: 30px;

        img {
            border-radius: 5px;
            @include img(446px, 446px);
        }
    }

    &__quote {
        margin-bottom: 51px;
        text-align: center;
    }

    &__gallery {
        display: flex;
        margin-bottom: 27px;

        &-img {
            img {
                border-radius: 5px;
                @include img(593px, 396px);
            }

            & + & {
                margin-left: 11px;
            }
        }
    }
}

// === EVENTS PAGE ===

.events {
    margin-bottom: 30px;

    &__title {
        margin-bottom: 23px;
        text-align: left;
    }

    &__images {
        display: flex;
        float: right;
        margin-bottom: 10px;
    }

    &__img {
        margin-left: 14px;

        img {
            border-radius: 5px;
            @include img(312px, 312px);
        }
    }

    &__text + &__text {
        margin-top: 20px;
    }
}

// === SALES ===

.sales {
    &__title {
        margin-bottom: 53px;
        text-align: left;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        margin: 5px 5px 40px 5px;
    }
}

// === CHOSEN ===

.chosen {
    margin-bottom: 29px;

    &__title {
        margin-bottom: 21px;
        text-align: left;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        margin: 5px 5px 20px 5px;
    }
}

// === DELIVERY ===

.delivery {
    &__inner {
        margin-bottom: 32px;
    }

    &__title {
        margin-bottom: 27px;
        text-align: left;
    }

    &__info + &__info {
        margin-top: 46px;
    }

    &__subtitle {
        margin-bottom: 13px;
        font-size: 24px;
        line-height: 29px;
        color: $dark-150;
        @include Montserrat($weight: $fw-medium);
    }

    &__text {
        line-height: $lh-s;

        & + & {
            margin-top: 25px;
        }
    }
}

.delivery__content {
    margin: 32px 0 38px;

    .delivery__subtitle {
        margin-bottom: 50px;
    }

    .delivery__text {
        margin-top: 0;
        margin-left: 41px;
    }
}

.delivery__item {
    display: flex;
    align-items: flex-start;

    & + & {
        margin-top: 41px;
    }
}

.delivery__point {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    width: 304px;

    &-num {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-width: 58px;
        max-width: 58px;
        height: 58px;
        margin-right: 19px;
        font-size: 30px;
        font-weight: $fw-light;
        line-height: 37px;
        color: $dark-450;
        user-select: none;
        border: 0.5px solid $dark-450;
        border-radius: 100%;

        &::after {
            position: absolute;
            top: -5px;
            right: -5px;
            z-index: -1;
            width: 58px;
            height: 58px;
            content: "";
            background-color: $light-250;
            border-radius: 100%;
        }
    }
}

// === BLOG - PAGE ===

.blog {
    margin-bottom: 32px;

    &__title {
        margin-bottom: 22px;
        text-align: left;
    }

    &__btn {
        display: block;
        margin: 0 auto;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 40px;
    }
}

.blog__item {
    width: 100%;
    max-width: 387px;
    transition: $transition;

    &:nth-child(n + 4) {
        margin-top: 50px;
    }

    &:nth-child(6n+6),
    &:nth-child(7n+7) {
        grid-row: span 2;

        .blog__item-img {
            height: 651px;

            img {
                height: 100%;
            }
        }
    }

    &-img img {
        max-width: 387px;
        border-radius: 5px;
        // @include img (387px, 260px);
    }

    &-info {
        margin-top: 12px;
    }

    &-title {
        margin-bottom: 12px;
        font-size: $fs-xs;
        line-height: $lh-s;
        color: $dark-50;
        @include Montserrat($weight: $fw-regular);
    }

    &-date {
        font-size: $fs-xxs;
        line-height: $lh-xs;
        color: #8d8d8d;
    }

    &:hover {
        transform: translateY(-5px);
    }
}

// === SINGLE - BLOG ===

.single-blog {
    &__inner {
        margin-bottom: 15px;

        img {
            border-radius: 5px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 37px;
    }

    &__title {
        margin-bottom: 38px;
        text-align: left;
    }

    &__text {
        & + & {
            margin-top: 18px;
        }
    }

    &__info {
        width: 55%;
        margin-right: 63px;
    }

    &__img img {
        width: 100%;
        max-width: 522px;
        height: auto;
        max-height: 522px;
    }
}

.single-blog__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-item {
        margin: 7px 5px 0;

        &:first-child {
            margin-left: 0;
        }

        img {
            @include img(388px, 260px);
        }
    }
}

// === CONTACT ====

.contact {
    margin-bottom: 23px;

    a {
        display: block;
    }

    &__title {
        text-align: left;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: $lh-m;
        color: $dark-150;
    }

    &__info {
        max-width: 400px;
        font-size: $fs-l;
        color: $dark-150;
    }

    &__address {
        position: relative;
        padding-left: 28px;
        margin-bottom: 37px;
        font-size: $fs-l;
        font-style: normal;
        line-height: $lh-m;

        &::before {
            position: absolute;
            top: 10%;
            left: 0;
            width: 16px;
            height: 16px;
            content: "";
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='%237D6C65' d='M7.989 0a5.87 5.87 0 0 0-5.864 5.864c0 1.485.936 3.584 2.782 6.238a41.853 41.853 0 0 0 2.732 3.503l.35.395.35-.395a41.91 41.91 0 0 0 2.732-3.503c1.846-2.654 2.782-4.753 2.782-6.238A5.87 5.87 0 0 0 7.989 0Zm2.32 11.56a42.495 42.495 0 0 1-2.32 3.017 42.46 42.46 0 0 1-2.314-3.01C3.965 9.11 3.06 7.137 3.06 5.864A4.934 4.934 0 0 1 7.99.935a4.934 4.934 0 0 1 4.928 4.929c0 1.271-.902 3.24-2.609 5.696Z'/%3e%3cpath fill='%237D6C65' d='M7.989 2.167a3.465 3.465 0 0 0-3.461 3.46 3.465 3.465 0 0 0 3.46 3.462 3.465 3.465 0 0 0 3.462-3.461 3.465 3.465 0 0 0-3.461-3.461Zm0 5.986a2.528 2.528 0 0 1-2.526-2.525A2.528 2.528 0 0 1 7.99 3.102a2.528 2.528 0 0 1 2.525 2.526A2.528 2.528 0 0 1 7.99 8.153Z'/%3e%3c/svg%3e ");
        }
    }

    &__email {
        position: relative;
        padding-left: 29px;
        margin-top: 23px;

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            width: 16px;
            height: 16px;
            content: "";
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cg clip-path='url(%23a)'%3e%3cpath fill='%237D6C65' d='M14.5 2h-13C.673 2 0 2.673 0 3.5v9c0 .827.673 1.5 1.5 1.5h13c.827 0 1.5-.673 1.5-1.5v-9c0-.827-.673-1.5-1.5-1.5Zm0 1c.068 0 .133.014.192.039L8 8.839l-6.692-5.8A.498.498 0 0 1 1.5 3h13Zm0 10h-13a.5.5 0 0 1-.5-.5V4.095l6.672 5.783a.5.5 0 0 0 .656 0L15 4.095V12.5a.5.5 0 0 1-.5.5Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='%23fff' d='M0 0h16v16H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
            transform: translateY(-50%);
        }
    }

    &__phone + &__phone {
        margin-top: 21px;
    }

    &__social {
        margin-top: 30px;

        &-title {
            margin-bottom: 13px;
            font-size: $fs-s;
            font-weight: $fw-medium;
        }
    }

    .social__item {
        display: inline-block;
    }
}

.contact__map {
    position: relative;
    width: 745px;
    height: 321px;
    margin-left: 49px;
    overflow: hidden;
    border-radius: 5px;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@import "media";
